<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcdata.db.mapper.EuropeOddsMapper" >
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.EuropeOdds" >
    <id column="OddsID" property="oddsid" jdbcType="INTEGER" />
    <result column="ScheduleID" property="scheduleid" jdbcType="INTEGER" />
    <result column="CompanyID" property="companyid" jdbcType="INTEGER" />
    <result column="FirstHomeWin" property="firsthomewin" jdbcType="REAL" />
    <result column="FirstStandoff" property="firststandoff" jdbcType="REAL" />
    <result column="FirstGuestWin" property="firstguestwin" jdbcType="REAL" />
    <result column="RealHomeWin" property="realhomewin" jdbcType="REAL" />
    <result column="RealStandoff" property="realstandoff" jdbcType="REAL" />
    <result column="RealGuestWin" property="realguestwin" jdbcType="REAL" />
    <result column="ModifyTime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="HomeWin_R" property="homewinR" jdbcType="REAL" />
    <result column="GuestWin_R" property="guestwinR" jdbcType="REAL" />
    <result column="Standoff_R" property="standoffR" jdbcType="REAL" />
    <result column="isStopLive" property="isstoplive" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="SameBeginOddsResultMap" type="com.zhcdata.jc.dto.AnalysisDto">
    <id column="oddsId" property="oddsId" jdbcType="INTEGER" />
    <id column="hostName" property="hostName" jdbcType="VARCHAR" />
    <id column="hostIcon" property="hostIcon" jdbcType="VARCHAR" />
    <id column="guestName" property="guestName" jdbcType="VARCHAR" />
    <id column="guestIcon" property="guestIcon" jdbcType="VARCHAR" />
    <id column="matchDate" property="matchDate" jdbcType="TIMESTAMP" />
    <id column="satWin" property="satWin" jdbcType="REAL" />
    <id column="satLose" property="satLose" jdbcType="REAL" />
    <id column="satFlat" property="satFlat" jdbcType="REAL" />
    <collection property="list" select="com.zhcdata.db.mapper.EuropeOddsMapper.querySameOddsMatchByOdds"
                ofType="com.zhcdata.jc.dto.AnalysisMatchDto" javaType="java.util.ArrayList"
                column="{satWin=satWin,satLose=satLose,satFlat=satFlat,oddsId=oddsId,companyId=companyId,
                matchType=matchType,satOdds=satOdds,endOdds=endOdds,beginDate=beginDate}" />
  </resultMap>
  <sql id="Base_Column_List" >
    OddsID, ScheduleID, CompanyID, FirstHomeWin, FirstStandoff, FirstGuestWin, RealHomeWin, 
    RealStandoff, RealGuestWin, ModifyTime, HomeWin_R, GuestWin_R, Standoff_R, isStopLive
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from europeodds
    where OddsID = #{oddsid,jdbcType=INTEGER}
  </select>

  <select id="selectByMidAndCpyAnd" resultType="com.zhcdata.db.model.EuropeOdds">
    select * from europeodds where ScheduleID = #{mid} and CompanyID = #{cpy} order by modifytime desc limit 1
  </select>

    <select id="selectByMid" resultType="com.zhcdata.db.model.EuropeOdds">
      select * from europeodds where ScheduleID = #{mid}
    </select>
  <select id="queryOddsByCompanyAndMatch" resultMap="SameBeginOddsResultMap">
    SELECT
      #{companyId} companyId,
      #{matchType} matchType,
      #{satOdds} satOdds,
      #{endOdds} endOdds,
      #{beginDate} beginDate,
      o.OddsID oddsId,
      t.name_j hostName,
      t.flag hostIcon,
      t2.name_j guestName,
      t2.flag guestIcon,
      s.matchTime matchDate,
      o.FirstHomeWin satWin,
      o.FirstGuestWin satLose,
      o.FirstStandoff satFlat,
      s.HomeTeamID homeId,
      s.GuestTeamID guestId
       FROM europeodds o
    LEFT JOIN SCHEDULE s on o.ScheduleID = s.ScheduleID
    LEFT JOIN team t ON s.hometeamid = t.teamid
    LEFT JOIN team t2 ON s.guestteamid = t2.teamid
    where o.CompanyID = #{companyId} and o.ScheduleID = #{matchId}
  </select>
  <select id="querySameOddsMatchByOdds" resultType="com.zhcdata.jc.dto.AnalysisMatchDto">
    select * from (
    select o.OddsID,o.scheduleId,o.FirstHomeWin satWin,o.FirstStandoff satFlat,o.FirstGuestWin satLose,
    ifnull(o.RealHomeWin,o.FirstHomeWin) endWin,
    ifnull(o.RealStandoff,o.FirstStandoff) endFlat,
    ifnull(o.RealGuestWin,o.FirstGuestWin) endLose,
    sc.name_js matchName,
    t.name_j homeName,
    s.homescore homeScore,
    t2.name_j guestName,
    s.guestscore guestScore,
    case when s.HomeScore > s.GuestScore then 3
    when s.HomeScore = s.GuestScore then 1
    else 0 end result,
    case when o.FirstHomeWin - o.FirstGuestWin <![CDATA[<=]]> 0 THEN
      abs(o.RealHomeWin - o.FirstHomeWin)
    ELSE
      abs(o.RealGuestWin - o.FirstGuestWin)
    END odd
    from europeodds o
    LEFT JOIN `schedule` s  on o.ScheduleID = s.ScheduleID
    LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
    LEFT JOIN sclass_type sct ON sct.sclassid = sc.sclassid
    LEFT JOIN team t ON s.hometeamid = t.teamid
    LEFT JOIN team t2 ON s.guestteamid = t2.teamid
    where o.CompanyID = #{companyId} and s.MatchState = -1
    <if test="matchType != null and matchType != 1">
      and sct.type = #{matchType}
    </if>
    AND o.FirstHomeWin = #{satWin}
    AND o.FirstGuestWin = #{satLose}
    AND o.FirstStandoff = #{satFlat}
    <if test="beginDate != null">
      and s.MatchTime >= #{beginDate}
    </if>
    group by o.scheduleId,s.MatchTime
    order by s.MatchTime desc
    ) _temp where 1=1
    and OddsID != #{oddsId}
    <if test="satOdds != null">
      and odd >= #{satOdds}
    </if>
    <if test="endOdds != null">
      and odd <![CDATA[<]]> #{endOdds}
    </if>
    limit 50
  </select>
  <select id="querySameOddsMatchByFlagAndOdds" resultType="com.zhcdata.jc.dto.AnalysisMatchDto">
    select * from (
    select o.scheduleId,o.FirstHomeWin satWin,o.FirstStandoff satFlat,o.FirstGuestWin satLose,
    ifnull(o.RealHomeWin,o.FirstHomeWin) endWin,
    ifnull(o.RealStandoff,o.FirstStandoff) endFlat,
    ifnull(o.RealGuestWin,o.FirstGuestWin) endLose,
    sc.name_js matchName,
    t.name_j homeName,
    s.homescore homeScore,
    t2.name_j guestName,
    s.guestscore guestScore,
    case when s.HomeScore > s.GuestScore then 3
    when s.HomeScore = s.GuestScore then 1
    else 0 end result,
    case when o.FirstHomeWin - o.FirstGuestWin <![CDATA[<=]]> 0 THEN
    abs(o.RealHomeWin - o.FirstHomeWin)
    ELSE
    abs(o.RealGuestWin - o.FirstGuestWin)
    END odd
    from europeodds o
    LEFT JOIN `schedule` s on o.ScheduleID = s.ScheduleID
    LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
    LEFT JOIN sclass_type sct ON sct.sclassid = sc.sclassid
    LEFT JOIN team t ON s.hometeamid = t.teamid
    LEFT JOIN team t2 ON s.guestteamid = t2.teamid
    where o.CompanyID = #{companyId} and s.MatchState = -1
    <if test="matchType != null and matchType != 1">
      AND sct.type = #{matchType}
    </if>
    <if test="hgFlag == 1">
      <if test="satOdd != null">AND o.FirstHomeWin = #{satOdd}</if>
      <if test="endOdd != null">AND o.RealHomeWin = #{endOdd}</if>
    </if>
    <if test="hgFlag == 2">
      <if test="satOdd != null">AND o.FirstGuestWin = #{satOdd}</if>
      <if test="endOdd != null">AND o.RealGuestWin = #{endOdd}</if>
    </if>
    <if test="beginDate != null">
      and s.MatchTime >= #{beginDate}
    </if>
    group by o.scheduleId,s.MatchTime
    order by s.MatchTime desc
    ) _temp where  1=1
    <if test="satChange != null">
    and odd >= #{satChange}
    </if>
    <if test="endChange != null">
      and odd <![CDATA[<]]> #{endChange}
    </if>
    limit 50
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from europeodds
    where OddsID = #{oddsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByMid">
    delete from europeodds where ScheduleID = #{mid}
  </delete>
  <insert id="insert" parameterType="com.zhcdata.db.model.EuropeOdds" >
    insert into europeodds (OddsID, ScheduleID, CompanyID, 
      FirstHomeWin, FirstStandoff, FirstGuestWin, 
      RealHomeWin, RealStandoff, RealGuestWin, 
      ModifyTime, HomeWin_R, GuestWin_R, 
      Standoff_R, isStopLive)
    values (#{oddsid,jdbcType=INTEGER}, #{scheduleid,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, 
      #{firsthomewin,jdbcType=REAL}, #{firststandoff,jdbcType=REAL}, #{firstguestwin,jdbcType=REAL}, 
      #{realhomewin,jdbcType=REAL}, #{realstandoff,jdbcType=REAL}, #{realguestwin,jdbcType=REAL}, 
      #{modifytime,jdbcType=TIMESTAMP}, #{homewinR,jdbcType=REAL}, #{guestwinR,jdbcType=REAL}, 
      #{standoffR,jdbcType=REAL}, #{isstoplive,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcdata.db.model.EuropeOdds" >
    insert into europeodds
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oddsid != null" >
        OddsID,
      </if>
      <if test="scheduleid != null" >
        ScheduleID,
      </if>
      <if test="companyid != null" >
        CompanyID,
      </if>
      <if test="firsthomewin != null" >
        FirstHomeWin,
      </if>
      <if test="firststandoff != null" >
        FirstStandoff,
      </if>
      <if test="firstguestwin != null" >
        FirstGuestWin,
      </if>
      <if test="realhomewin != null" >
        RealHomeWin,
      </if>
      <if test="realstandoff != null" >
        RealStandoff,
      </if>
      <if test="realguestwin != null" >
        RealGuestWin,
      </if>
      <if test="modifytime != null" >
        ModifyTime,
      </if>
      <if test="homewinR != null" >
        HomeWin_R,
      </if>
      <if test="guestwinR != null" >
        GuestWin_R,
      </if>
      <if test="standoffR != null" >
        Standoff_R,
      </if>
      <if test="isstoplive != null" >
        isStopLive,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oddsid != null" >
        #{oddsid,jdbcType=INTEGER},
      </if>
      <if test="scheduleid != null" >
        #{scheduleid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="firsthomewin != null" >
        #{firsthomewin,jdbcType=REAL},
      </if>
      <if test="firststandoff != null" >
        #{firststandoff,jdbcType=REAL},
      </if>
      <if test="firstguestwin != null" >
        #{firstguestwin,jdbcType=REAL},
      </if>
      <if test="realhomewin != null" >
        #{realhomewin,jdbcType=REAL},
      </if>
      <if test="realstandoff != null" >
        #{realstandoff,jdbcType=REAL},
      </if>
      <if test="realguestwin != null" >
        #{realguestwin,jdbcType=REAL},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="homewinR != null" >
        #{homewinR,jdbcType=REAL},
      </if>
      <if test="guestwinR != null" >
        #{guestwinR,jdbcType=REAL},
      </if>
      <if test="standoffR != null" >
        #{standoffR,jdbcType=REAL},
      </if>
      <if test="isstoplive != null" >
        #{isstoplive,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcdata.db.model.EuropeOdds" >
    update europeodds
    <set >
      <if test="scheduleid != null" >
        ScheduleID = #{scheduleid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        CompanyID = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="firsthomewin != null" >
        FirstHomeWin = #{firsthomewin,jdbcType=REAL},
      </if>
      <if test="firststandoff != null" >
        FirstStandoff = #{firststandoff,jdbcType=REAL},
      </if>
      <if test="firstguestwin != null" >
        FirstGuestWin = #{firstguestwin,jdbcType=REAL},
      </if>
      <if test="realhomewin != null" >
        RealHomeWin = #{realhomewin,jdbcType=REAL},
      </if>
      <if test="realstandoff != null" >
        RealStandoff = #{realstandoff,jdbcType=REAL},
      </if>
      <if test="realguestwin != null" >
        RealGuestWin = #{realguestwin,jdbcType=REAL},
      </if>
      <if test="modifytime != null" >
        ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="homewinR != null" >
        HomeWin_R = #{homewinR,jdbcType=REAL},
      </if>
      <if test="guestwinR != null" >
        GuestWin_R = #{guestwinR,jdbcType=REAL},
      </if>
      <if test="standoffR != null" >
        Standoff_R = #{standoffR,jdbcType=REAL},
      </if>
      <if test="isstoplive != null" >
        isStopLive = #{isstoplive,jdbcType=TINYINT},
      </if>
    </set>
    where OddsID = #{oddsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcdata.db.model.EuropeOdds" >
    update europeodds
    set ScheduleID = #{scheduleid,jdbcType=INTEGER},
      CompanyID = #{companyid,jdbcType=INTEGER},
      FirstHomeWin = #{firsthomewin,jdbcType=REAL},
      FirstStandoff = #{firststandoff,jdbcType=REAL},
      FirstGuestWin = #{firstguestwin,jdbcType=REAL},
      RealHomeWin = #{realhomewin,jdbcType=REAL},
      RealStandoff = #{realstandoff,jdbcType=REAL},
      RealGuestWin = #{realguestwin,jdbcType=REAL},
      ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      HomeWin_R = #{homewinR,jdbcType=REAL},
      GuestWin_R = #{guestwinR,jdbcType=REAL},
      Standoff_R = #{standoffR,jdbcType=REAL},
      isStopLive = #{isstoplive,jdbcType=TINYINT}
    where OddsID = #{oddsid,jdbcType=INTEGER}
  </update>
</mapper>