<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcdata.db.mapper.InjuryBriefingMapper">
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.InjuryBriefing">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="scheduleID" jdbcType="INTEGER" property="scheduleid" />
    <result column="team_type" jdbcType="VARCHAR" property="teamType" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

<!--  <sql id="Base_Column_List">-->
<!--    id, scheduleID, team_type, mark, content, create_time, update_time-->
<!--  </sql>-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    *
    from injury_briefing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByMidAndTeam" resultType="com.zhcdata.db.model.InjuryBriefing">
    select * from injury_briefing where scheduleID = #{mid} and team_type = #{team} and mark = #{mark}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from injury_briefing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhcdata.db.model.InjuryBriefing">
    insert into injury_briefing (id, scheduleID, team_type, 
      mark, content, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{scheduleid,jdbcType=INTEGER}, #{teamType,jdbcType=VARCHAR}, 
      #{mark,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcdata.db.model.InjuryBriefing">
    insert into injury_briefing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scheduleid != null">
        scheduleID,
      </if>
      <if test="teamType != null">
        team_type,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scheduleid != null">
        #{scheduleid,jdbcType=INTEGER},
      </if>
      <if test="teamType != null">
        #{teamType,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcdata.db.model.InjuryBriefing">
    update injury_briefing
    <set>
      <if test="scheduleid != null">
        scheduleID = #{scheduleid,jdbcType=INTEGER},
      </if>
      <if test="teamType != null">
        team_type = #{teamType,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcdata.db.model.InjuryBriefing">
    update injury_briefing
    set scheduleID = #{scheduleid,jdbcType=INTEGER},
      team_type = #{teamType,jdbcType=VARCHAR},
      mark = #{mark,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--  <update id="updateContentAndUpdateTimeByPrimaryKey">-->
<!--    update injury_briefing set content = #{content} ,update_time = now() where id = #{id}-->
<!--  </update>-->
</mapper>