<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcdata.db.mapper.JcMatchLiveMapper" >
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.JcMatchLive" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="TIME" property="time" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ScheduleID" property="scheduleid" jdbcType="BIGINT" />
  </resultMap>
  <select id="queryTextLivingList" resultType="com.zhcdata.jc.dto.TextLiving">
    select
    live.TIME eventTime,
    live.CONTENT value
    from jc_match_live live
    left join schedule sc on live.scheduleID = sc.scheduleID
    where live.scheduleID = #{matchId} and sc.MatchState in('1','2','3','4','5')
    ORDER BY live.TIME;
  </select>

</mapper>