<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcdata.db.mapper.JcMatchBjdcPlMapper">
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.JcMatchBjdcPl">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="ISSUE_NUM" jdbcType="VARCHAR" property="issueNum" />
    <result column="NO_ID" jdbcType="VARCHAR" property="noId" />
    <result column="LOTTERY_NAME" jdbcType="VARCHAR" property="lotteryName" />
    <result column="LOTTERY_PLAY" jdbcType="VARCHAR" property="lotteryPlay" />
    <result column="ID_BET007" jdbcType="BIGINT" property="idBet007" />
    <result column="PLAY_TYPE" jdbcType="INTEGER" property="playType" />
    <result column="RATE_RESULT" jdbcType="VARCHAR" property="rateResult" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="MATCH_RESULT" jdbcType="VARCHAR" property="matchResult" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CONCED_NUM" jdbcType="VARCHAR" property="conCedNum" />
  </resultMap>
  <select id="queryJcMatchBjdcPlByIssuemAndNoId" resultType="com.zhcdata.db.model.JcMatchBjdcPl">
    select * from jc_match_bjdc_pl where ISSUE_NUM=#{issueNum} and NO_ID = #{noId}
  </select>
  <select id="queryBjdcListReuslt" resultType="java.util.Map">
    select t.Name_J hostname,tt.Name_J guestName,aa.* from (
    select l.ID_BET007,l.ISSUE_NUM,a.*,l.lottery,l.LOTTERY_NAME,d.MATCH_RESULT,IFNULL(d.conced_num,"0") concedNum from (
    SELECT m.ScheduleID,M.HomeTeam hostname,m.GuestTeam guestName,m.MatchTime matchTime,s.Name_JS matchName,m.MatchState
    ,m.HomeScore,m.GuestScore,m.HomeHalfScore,m.GuestHalfScore,m.HomeTeamID,m.GuestTeamID
    from schedule m LEFT JOIN Sclass s on s.sclassID = m.SclassID
    where 1=1
    and  m.MatchTime >= str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
    and m.MatchTime <![CDATA[ <= ]]> str_to_date(#{endvDate}, '%Y-%m-%d %H:%i:%s')
    and MatchState =-1
    ) a,jc_match_lottery l,JC_MATCH_BJDCRESLUT d where a.ScheduleID = l.ID_BET007  and a.ScheduleID = d.ID_BET007
    and l.LOTTERY = 'BJDC'
    order by l.ISSUE_NUM desc ,l.NO_ID
    ) aa LEFT JOIN  team t on aa.HomeTeamID = t.teamid LEFT JOIN team tt on  aa.GuestTeamID = tt.teamid
  </select>
  <select id="queryTodayMatchCount" resultType="java.lang.Integer">
    select count(*) from (
    select l.ID_BET007,l.ISSUE_NUM,a.*,l.lottery,l.LOTTERY_NAME,d.MATCH_RESULT,IFNULL(d.conced_num,"0") concedNum from (
    SELECT m.ScheduleID,M.HomeTeam hostname,m.GuestTeam guestName,m.MatchTime matchTime,s.Name_JS matchName,m.MatchState
    ,m.HomeScore,m.GuestScore,m.HomeHalfScore,m.GuestHalfScore,m.HomeTeamID,m.GuestTeamID
    from schedule m LEFT JOIN Sclass s on s.sclassID = m.SclassID
    where 1=1
    and  m.MatchTime >= str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s')
    and m.MatchTime <![CDATA[ <= ]]> str_to_date(#{endvDate}, '%Y-%m-%d %H:%i:%s')
    ) a,jc_match_lottery l,JC_MATCH_BJDCRESLUT d where a.ScheduleID = l.ID_BET007  and a.ScheduleID = d.ID_BET007
    and l.LOTTERY = 'BJDC'
    order by l.ISSUE_NUM desc ,matchTime
    ) aa LEFT JOIN  team t on aa.HomeTeamID = t.teamid LEFT JOIN team tt on  aa.GuestTeamID = tt.teamid
  </select>

  <select id="queryBjdcByMatchId" resultType="com.zhcdata.db.model.JcMatchBjdcPl">
    select * from jc_match_bjdc_pl p where p.ID_BET007 = #{matchId}
  </select>
</mapper>