<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcdata.db.mapper.JcMatchLotteryMapper" >
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.JcMatchLottery" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="BIGINT" />
    <result column="LOTTERY_NAME" property="lotteryName" jdbcType="VARCHAR" />
    <result column="LOTTERY" property="lottery" jdbcType="VARCHAR" />
    <result column="ISSUE_NUM" property="issueNum" jdbcType="VARCHAR" />
    <result column="NO_ID" property="noId" jdbcType="VARCHAR" />
    <result column="ID_BET007" property="idBet007" jdbcType="BIGINT" />
    <result column="TURN" property="turn" jdbcType="VARCHAR" />
    <result column="RECORD_ID" property="recordId" jdbcType="BIGINT" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="CHAR" />
  </resultMap>
  <select id="queryJcMatchLotteryByIssueNumAndNoId" resultType="com.zhcdata.db.model.JcMatchLottery">
    select * from jc_match_lottery jc where jc.ISSUE_NUM=#{issueNum} and jc.NO_ID = #{noId} and jc.LOTTERY = 'BJDC'
  </select>

  <select id="queryJcMatchLotteryByBet007" resultType="com.zhcdata.db.model.JcMatchLottery">
    select * from jc_match_lottery jc where jc.ID_BET007=#{bet007Id} and jc.LOTTERY = #{gameType}
  </select>
  <select id="queryJcMatchLotteryByBet007_1" resultType="com.zhcdata.db.model.JcMatchLottery">
    select * from jc_match_lottery jc where jc.ISSUE_NUM=#{num} and jc.LOTTERY = #{lottery} and No_ID=#{id}
  </select>
  <select id="queryJcMatchLotteryByMatchIdAndType" resultType="com.zhcdata.db.model.JcMatchLottery">
    select * from jc_match_lottery jc where jc.ID_BET007=#{matchId} and jc.LOTTERY in('JCZQ','BJDC')
  </select>
</mapper>