<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcdata.db.mapper.JcScheduleMapper">
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.JcSchedule">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="ScheduleID" jdbcType="INTEGER" property="scheduleid" />
    <result column="MatchID" jdbcType="VARCHAR" property="matchid" />
    <result column="MatchTime" jdbcType="TIMESTAMP" property="matchtime" />
    <result column="SelloutTime" jdbcType="TIMESTAMP" property="sellouttime" />
    <result column="Sclass" jdbcType="VARCHAR" property="sclass" />
    <result column="HomeTeam" jdbcType="VARCHAR" property="hometeam" />
    <result column="HomeTeamID" jdbcType="INTEGER" property="hometeamid" />
    <result column="GuestTeam" jdbcType="VARCHAR" property="guestteam" />
    <result column="GuestTeamID" jdbcType="INTEGER" property="guestteamid" />
    <result column="MatchState" jdbcType="SMALLINT" property="matchstate" />
    <result column="HomeScore" jdbcType="SMALLINT" property="homescore" />
    <result column="GuestScore" jdbcType="SMALLINT" property="guestscore" />
    <result column="HomeHalfScore" jdbcType="SMALLINT" property="homehalfscore" />
    <result column="GuestHalfScore" jdbcType="SMALLINT" property="guesthalfscore" />
    <result column="PolyGoal" jdbcType="REAL" property="polygoal" />
    <result column="IsEnd" jdbcType="TINYINT" property="isend" />
    <result column="IsTurned" jdbcType="TINYINT" property="isturned" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="HomeTeamF" jdbcType="VARCHAR" property="hometeamf" />
    <result column="GuestTeamF" jdbcType="VARCHAR" property="guestteamf" />
    <result column="IsAudit" jdbcType="TINYINT" property="isaudit" />
    <result column="MatchTime2" jdbcType="DATE" property="matchtime2" />
    <result column="HomeTeamGov" jdbcType="VARCHAR" property="hometeamgov" />
    <result column="GuestTeamGov" jdbcType="VARCHAR" property="guestteamgov" />
    <result column="Single101" jdbcType="BIT" property="single101" />
    <result column="Single102" jdbcType="BIT" property="single102" />
    <result column="Single103" jdbcType="BIT" property="single103" />
    <result column="Single104" jdbcType="BIT" property="single104" />
    <result column="Single105" jdbcType="BIT" property="single105" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="SelloutTimeGov" jdbcType="TIMESTAMP" property="sellouttimegov" />
  </resultMap>

  <select id="queryJcScheduleByBet007" resultType="com.zhcdata.db.model.JcSchedule">
    select * from jc_schedule jc where jc.ScheduleID = #{bet007Id}
  </select>
  <select id="queryJcScheduleByMatchID" resultType="com.zhcdata.db.model.JcSchedule">
    select * from jc_schedule jc where jc.MatchID = #{matchid} and jc.MatchTime between #{startTime} and #{endTime}
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhcdata.db.model.JcSchedule" >
    update jc_schedule
    <set >
      <if test="matchid != null" >
        MatchID = #{matchid,jdbcType=VARCHAR},
      </if>
      <if test="matchtime != null" >
        MatchTime = #{matchtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellouttime != null" >
        SelloutTime = #{sellouttime,jdbcType=TIMESTAMP},
      </if>
      <if test="sclass != null" >
        Sclass = #{sclass,jdbcType=VARCHAR},
      </if>
      <if test="hometeam != null" >
        HomeTeam = #{hometeam,jdbcType=VARCHAR},
      </if>
      <if test="hometeamid != null" >
        HomeTeamID = #{hometeamid,jdbcType=INTEGER},
      </if>
      <if test="guestteam != null" >
        GuestTeam = #{guestteam,jdbcType=VARCHAR},
      </if>
      <if test="guestteamid != null" >
        GuestTeamID = #{guestteamid,jdbcType=INTEGER},
      </if>
      <if test="matchstate != null" >
        MatchState = #{matchstate,jdbcType=SMALLINT},
      </if>
      <if test="homescore != null" >
        HomeScore = #{homescore,jdbcType=SMALLINT},
      </if>
      <if test="guestscore != null" >
        GuestScore = #{guestscore,jdbcType=SMALLINT},
      </if>
      <if test="homehalfscore != null" >
        HomeHalfScore = #{homehalfscore,jdbcType=SMALLINT},
      </if>
      <if test="guesthalfscore != null" >
        GuestHalfScore = #{guesthalfscore,jdbcType=SMALLINT},
      </if>
      <if test="polygoal != null" >
        PolyGoal = #{polygoal,jdbcType=REAL},
      </if>
      <if test="isend != null" >
        IsEnd = #{isend,jdbcType=BIT},
      </if>
      <if test="isturned != null" >
        IsTurned = #{isturned,jdbcType=BIT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="hometeamf != null" >
        HomeTeamF = #{hometeamf,jdbcType=VARCHAR},
      </if>
      <if test="guestteamf != null" >
        GuestTeamF = #{guestteamf,jdbcType=VARCHAR},
      </if>
      <if test="isaudit != null" >
        IsAudit = #{isaudit,jdbcType=TINYINT},
      </if>
      <if test="matchtime2 != null" >
        MatchTime2 = #{matchtime2,jdbcType=DATE},
      </if>
      <if test="hometeamgov != null" >
        HomeTeamGov = #{hometeamgov,jdbcType=VARCHAR},
      </if>
      <if test="guestteamgov != null" >
        GuestTeamGov = #{guestteamgov,jdbcType=VARCHAR},
      </if>
      <if test="single101 != null" >
        Single101 = #{single101,jdbcType=BIT},
      </if>
      <if test="single102 != null" >
        Single102 = #{single102,jdbcType=BIT},
      </if>
      <if test="single103 != null" >
        Single103 = #{single103,jdbcType=BIT},
      </if>
      <if test="single104 != null" >
        Single104 = #{single104,jdbcType=BIT},
      </if>
      <if test="single105 != null" >
        Single105 = #{single105,jdbcType=BIT},
      </if>
      <if test="addtime != null" >
        AddTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellouttimegov != null" >
        SelloutTimeGov = #{sellouttimegov,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ScheduleID = #{scheduleid,jdbcType=INTEGER}
  </update>
</mapper>