<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcdata.db.mapper.LetgoalMapper">
    <resultMap id="BaseResultMap" type="com.zhcdata.db.model.Letgoal">
        <id column="OddsID" property="oddsid" jdbcType="INTEGER"/>
        <result column="ScheduleID" property="scheduleid" jdbcType="INTEGER"/>
        <result column="CompanyID" property="companyid" jdbcType="INTEGER"/>
        <result column="FirstGoal" property="firstgoal" jdbcType="REAL"/>
        <result column="FirstUpodds" property="firstupodds" jdbcType="REAL"/>
        <result column="FirstDownodds" property="firstdownodds" jdbcType="REAL"/>
        <result column="Goal" property="goal" jdbcType="REAL"/>
        <result column="UpOdds" property="upodds" jdbcType="REAL"/>
        <result column="DownOdds" property="downodds" jdbcType="REAL"/>
        <result column="ModifyTime" property="modifytime" jdbcType="TIMESTAMP"/>
        <result column="Result" property="result" jdbcType="INTEGER"/>
        <result column="ClosePan" property="closepan" jdbcType="BIT"/>
        <result column="ZouDi" property="zoudi" jdbcType="BIT"/>
        <result column="Running" property="running" jdbcType="BIT"/>
        <result column="Goal_Real" property="goalReal" jdbcType="REAL"/>
        <result column="UpOdds_Real" property="upoddsReal" jdbcType="REAL"/>
        <result column="DownOdds_Real" property="downoddsReal" jdbcType="REAL"/>
        <result column="isStopLive" property="isstoplive" jdbcType="BIT"/>
        <result column="StartTime" property="starttime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    OddsID, ScheduleID, CompanyID, FirstGoal, FirstUpodds, FirstDownodds, Goal, UpOdds, 
    DownOdds, ModifyTime, Result, ClosePan, ZouDi, Running, Goal_Real, UpOdds_Real, DownOdds_Real, 
    isStopLive, StartTime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from letgoal
        where OddsID = #{oddsid,jdbcType=INTEGER}
    </select>

    <select id="selectByMatchIdAndCompany" resultType="com.zhcdata.db.model.Letgoal">
    select * from letgoal where ScheduleID = #{matchId} and CompanyId = #{cpy} limit 1
  </select>

    <select id="selectOddsIdAndStartTimeByByMatchIdAndCompany" resultType="java.util.Map">
-- select * from letgoal where ScheduleID
    select s.ScheduleID as sid,l.OddsID as oid,s.MatchTime as time from schedule s,letgoal l where l.ScheduleID = s.ScheduleID and l.CompanyID = #{cpy} and l.ScheduleID = #{matchId}
  </select>
    <select id="selectByMid" resultType="com.zhcdata.db.model.Letgoal">
    select * from letgoal where ScheduleID = #{mid}
  </select>
    <select id="queryHandicapsByCompanyAndMatch" resultType="com.zhcdata.jc.dto.AnalysisDto">
      select
        o.OddsID,
        t.name_j hostName,
        t.flag hostIcon,
        t2.name_j guestName,
        t2.flag guestIcon,
        s.matchTime matchDate,
        o.FirstGoal satFlat,
        o.FirstUpodds satWin,
        o.FirstDownodds satLose,
      s.HomeTeamID homeId,
      s.GuestTeamID guestId from letgoal o
      LEFT JOIN SCHEDULE s on o.ScheduleID = s.ScheduleID
      LEFT JOIN team t ON s.hometeamid = t.teamid
      LEFT JOIN team t2 ON s.guestteamid = t2.teamid
      where o.CompanyID = #{companyId} and o.ScheduleID = #{matchId}
    </select>
    <select id="querySameHandicapsMatchByOdds" resultType="com.zhcdata.jc.dto.AnalysisMatchDto">
        select * from (
        select o.OddsID,o.scheduleId,o.FirstUpodds satWin,o.FirstGoal satFlat,o.FirstGoal panlu,o.FirstDownodds satLose,
        ifnull(o.UpOdds_Real,o.FirstUpodds) endWin,
        ifnull(o.Goal_Real,o.FirstGoal) endFlat,
        ifnull(o.DownOdds_Real,o.FirstDownodds) endLose,
        s.MatchTime,
        sc.name_js matchName,
        t.name_j homeName,
        s.homescore homeScore,
        t2.name_j guestName,
        s.guestscore guestScore,
        case when s.HomeScore - #{satFlat} > s.GuestScore then 3
        when s.HomeScore - #{satFlat} = s.GuestScore then 1
        else 0 end result,
        case when #{satFlat} <![CDATA[>]]> 0 THEN
          abs(UpOdds_Real - o.FirstUpodds)
        when #{satFlat} <![CDATA[<]]> 0 THEN
         abs(o.DownOdds_Real - o.FirstDownodds)
        ELSE
         (case when o.FirstUpodds <![CDATA[<=]]> o.FirstDownodds then
            abs(UpOdds_Real - o.FirstUpodds) ELSE abs(o.DownOdds_Real - o.FirstDownodds) END)
        END odd
        from letgoal o
        LEFT JOIN `schedule` s on o.ScheduleID = s.ScheduleID
        LEFT JOIN `letgoal_goal` lg on o.OddsID = lg.OddsID
        LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
        LEFT JOIN sclass_type sct ON sct.sclassid = sc.sclassid
        LEFT JOIN team t ON s.hometeamid = t.teamid
        LEFT JOIN team t2 ON s.guestteamid = t2.teamid
        where o.CompanyID = #{companyId} and s.MatchState = -1
        AND o.FirstUpodds = #{satWin}
        AND o.FirstDownodds = #{satLose}
        AND o.FirstGoal = #{satFlat}
        <if test="changeTimes != null and changeTimes != -1">
            and lg.goal_count = #{changeTimes}
        </if>
        <if test="matchType != null and matchType != 1">
            and sct.type = #{matchType}
        </if>
        <if test="beginDate != null">
            and s.MatchTime >= #{beginDate}
        </if>
        group by o.scheduleId,s.MatchTime
        order by s.MatchTime desc
        limit 51
        ) _temp where 1=1
        AND OddsID != #{oddsId}
        ORDER BY
        MatchTime DESC
        limit 50
    </select>
    <select id="querySameHandicapsMatchByChangeOdds" resultType="com.zhcdata.jc.dto.AnalysisMatchDto">
        select scheduleId,satWin,satFlat,panlu,satLose,endWin,endFlat,endLose,MatchTime,matchName,homeName,homeScore,guestName,guestScore,result,odd from
          <foreach collection="changeOdds" item="odds" open="(" close=") temp" separator="union" >
              (SELECT * from (select o.OddsID,o.scheduleId,o.FirstUpodds satWin,o.FirstGoal satFlat,o.FirstGoal panlu,o.FirstDownodds satLose,
              ifnull(o.UpOdds_Real,o.FirstUpodds) endWin,
              ifnull(o.Goal_Real,o.FirstGoal) endFlat,
              ifnull(o.DownOdds_Real,o.FirstDownodds) endLose,
              s.MatchTime,
              sc.name_js matchName,
              t.name_j homeName,
              s.homescore homeScore,
              t2.name_j guestName,
              s.guestscore guestScore,
              case when s.HomeScore - #{satFlat} > s.GuestScore then 3
              when s.HomeScore - #{satFlat} = s.GuestScore then 1
              else 0 end result,
              case when #{satFlat} <![CDATA[>]]> 0 THEN
              abs(UpOdds_Real - o.FirstUpodds)
              when #{satFlat} <![CDATA[<]]> 0 THEN
              abs(o.DownOdds_Real - o.FirstDownodds)
              ELSE
              (case when o.FirstUpodds <![CDATA[<=]]> o.FirstDownodds then
              abs(UpOdds_Real - o.FirstUpodds) ELSE abs(o.DownOdds_Real - o.FirstDownodds) END)
              END odd
              from letgoal o
              LEFT JOIN `schedule` s on o.ScheduleID = s.ScheduleID
              LEFT JOIN `letgoal_goal` lg on o.OddsID = lg.OddsID
              LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
              LEFT JOIN sclass_type sct ON sct.sclassid = sc.sclassid
              LEFT JOIN team t ON s.hometeamid = t.teamid
              LEFT JOIN team t2 ON s.guestteamid = t2.teamid
              where o.CompanyID = #{companyId} and s.MatchState = -1
              AND o.FirstUpodds = #{satWin}
              AND o.FirstDownodds = #{satLose}
              AND o.FirstGoal = #{satFlat}
              and lg.goal_count = 0
              <if test="matchType != null and matchType != 1">
                  sct.type = #{matchType}
              </if>
              <if test="beginDate != null">
                  and s.MatchTime >= #{beginDate}
              </if>
              group by o.scheduleId,s.MatchTime
              order by s.MatchTime desc
              ) t where 1=1
              AND OddsID != #{oddsId}
              <if test="odds.start != null">
                  and odd >= #{odds.start}
              </if>
              <if test="odds.end != null">
                  and odd <![CDATA[<]]> #{odds.end}
              </if>
              limit 50
              )
          </foreach>

        order by temp.MatchTime desc
        limit 50
    </select>
    <select id="querySameHandicapsMatchByOddsAndNoChange" resultType="com.zhcdata.jc.dto.AnalysisMatchDto">
        select o.scheduleId,o.FirstUpodds satWin,o.FirstGoal satFlat,o.FirstGoal panlu,o.FirstDownodds satLose,
        ifnull(o.UpOdds_Real,o.FirstUpodds) endWin,
        ifnull(o.Goal_Real,o.FirstGoal) endFlat,
        ifnull(o.DownOdds_Real,o.FirstDownodds) endLose,
        s.MatchTime,
        sc.name_js matchName,
        t.name_j homeName,
        s.homescore homeScore,
        t2.name_j guestName,
        s.guestscore guestScore,
        case when s.HomeScore - o.FirstGoal > s.GuestScore then 3
        when s.HomeScore - o.FirstGoal = s.GuestScore then 1
        else 0 end result
        from letgoal o
        LEFT JOIN `schedule` s  on o.ScheduleID = s.ScheduleID
        LEFT JOIN `letgoal_goal` lg  on o.OddsID = lg.OddsID
        LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
        LEFT JOIN sclass_type sct ON sct.sclassid = sc.sclassid
        LEFT JOIN team t ON s.hometeamid = t.teamid
        LEFT JOIN team t2 ON s.guestteamid = t2.teamid
        where o.CompanyID = #{companyId} and s.MatchState = -1
        <if test="satSatOdd != null">
          AND o.FirstUpodds >= #{satSatOdd}
        </if>
        <if test="satEndOdd != null">
          AND o.FirstUpodds <![CDATA[<]]> #{satEndOdd}
        </if>
        <if test="endSatOdd != null">
          AND o.UpOdds_Real >= #{endSatOdd}
        </if>
        <if test="endEndOdd != null">
          AND o.UpOdds_Real <![CDATA[<]]> #{endEndOdd}
        </if>
        <if test="satGoal != null">
          AND o.FirstGoal = #{satGoal}
        </if>
        <if test="endGoal != null">
            AND o.Goal_Real = #{endGoal}
        </if>
        <if test="changeTimes != null and changeTimes != -1">
            AND lg.goal_count = #{changeTimes}
        </if>
        <if test="matchType != null and matchType != 1">
            AND sct.type = #{matchType}
        </if>
        <if test="beginDate != null">
            AND s.MatchTime >= #{beginDate}
        </if>
        group by o.scheduleId,s.MatchTime
        order by s.MatchTime desc
        limit 50
    </select>
    <select id="querySameHandicapsMatchByOddsAndChange" resultType="com.zhcdata.jc.dto.AnalysisMatchDto">
        select scheduleId,satWin,satFlat,satLose,endWin,endFlat,endLose,MatchTime,matchName,homeName,homeScore,guestName,guestScore,result,odd from
        <foreach collection="changeOdds" item="odds" open="(" close=") temp" separator="union" >
            (select
            scheduleId,satWin,satFlat,panlu,satLose,endWin,endFlat,endLose,MatchTime,matchName,homeName,homeScore,guestName,guestScore,result,odd
            from
            (select o.scheduleId,o.FirstUpodds satWin,o.FirstGoal satFlat,o.FirstGoal panlu,o.FirstDownodds satLose,
            ifnull(o.UpOdds_Real,o.FirstUpodds) endWin,
            ifnull(o.Goal_Real,o.FirstGoal) endFlat,
            ifnull(o.DownOdds_Real,o.FirstDownodds) endLose,
            s.MatchTime,
            sc.name_js matchName,
            t.name_j homeName,
            s.homescore homeScore,
            t2.name_j guestName,
            s.guestscore guestScore,
            case when s.HomeScore - o.FirstGoal > s.GuestScore then 3
            when s.HomeScore - o.FirstGoal = s.GuestScore then 1
            else 0 end result,
            case when o.FirstGoal <![CDATA[>]]> 0 THEN
            abs(UpOdds_Real - o.FirstUpodds)
            when o.FirstGoal <![CDATA[<]]> 0 THEN
            abs(o.DownOdds_Real - o.FirstDownodds)
            ELSE
            (case when o.FirstUpodds <![CDATA[<=]]> o.FirstDownodds then
            abs(UpOdds_Real - o.FirstUpodds) ELSE abs(o.DownOdds_Real - o.FirstDownodds) END)
            END odd
            from letgoal o
            LEFT JOIN `schedule` s on o.ScheduleID = s.ScheduleID
            LEFT JOIN `letgoal_goal` lg on o.OddsID = lg.OddsID
            LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
            LEFT JOIN sclass_type sct ON sct.sclassid = sc.sclassid
            LEFT JOIN team t ON s.hometeamid = t.teamid
            LEFT JOIN team t2 ON s.guestteamid = t2.teamid
            where o.CompanyID = #{companyId} and s.MatchState = -1
            <if test="satSatOdd != null">
                AND o.FirstUpodds >= #{satSatOdd}
            </if>
            <if test="satEndOdd != null">
                AND o.FirstUpodds <![CDATA[<]]> #{satEndOdd}
            </if>
            <if test="endSatOdd != null">
                AND o.UpOdds_Real >= #{endSatOdd}
            </if>
            <if test="endEndOdd != null">
                AND o.UpOdds_Real <![CDATA[<]]> #{endEndOdd}
            </if>
            <if test="satGoal != null">
                AND o.FirstGoal = #{satGoal}
            </if>
            <if test="endGoal != null">
                AND o.Goal_Real = #{endGoal}
            </if>
            and lg.goal_count = 0
            <if test="matchType != null and matchType != 1">
                and sct.type = #{matchType}
            </if>
            <if test="beginDate != null">
                and s.MatchTime >= #{beginDate}
            </if>
            group by o.scheduleId,s.MatchTime
            order by s.MatchTime desc
            ) tt where 1=1
            <if test="odds.start != null">
                and odd >= #{odds.start}
            </if>
            <if test="odds.end != null">
                and odd <![CDATA[<]]> #{odds.end}
            </if>
            limit 50
            )
        </foreach>
        order by temp.MatchTime desc
        limit 50
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from letgoal
    where OddsID = #{oddsid,jdbcType=INTEGER}
  </delete>

    <delete id="deleteByMid">
    delete from letgoal where ScheduleID = #{mid}
  </delete>

    <insert id="insert" parameterType="com.zhcdata.db.model.Letgoal">
    insert into letgoal (OddsID, ScheduleID, CompanyID, 
      FirstGoal, FirstUpodds, FirstDownodds, 
      Goal, UpOdds, DownOdds, ModifyTime, 
      Result, ClosePan, ZouDi, Running, 
      Goal_Real, UpOdds_Real, DownOdds_Real, 
      isStopLive, StartTime)
    values (#{oddsid,jdbcType=INTEGER}, #{scheduleid,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, 
      #{firstgoal,jdbcType=REAL}, #{firstupodds,jdbcType=REAL}, #{firstdownodds,jdbcType=REAL}, 
      #{goal,jdbcType=REAL}, #{upodds,jdbcType=REAL}, #{downodds,jdbcType=REAL}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{result,jdbcType=INTEGER}, #{closepan,jdbcType=BIT}, #{zoudi,jdbcType=BIT}, #{running,jdbcType=BIT}, 
      #{goalReal,jdbcType=REAL}, #{upoddsReal,jdbcType=REAL}, #{downoddsReal,jdbcType=REAL}, 
      #{isstoplive,jdbcType=BIT}, #{starttime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.zhcdata.db.model.Letgoal" useGeneratedKeys="true" keyProperty="oddsid">
        insert into letgoal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oddsid != null">
                OddsID,
            </if>
            <if test="scheduleid != null">
                ScheduleID,
            </if>
            <if test="companyid != null">
                CompanyID,
            </if>
            <if test="firstgoal != null">
                FirstGoal,
            </if>
            <if test="firstupodds != null">
                FirstUpodds,
            </if>
            <if test="firstdownodds != null">
                FirstDownodds,
            </if>
            <if test="goal != null">
                Goal,
            </if>
            <if test="upodds != null">
                UpOdds,
            </if>
            <if test="downodds != null">
                DownOdds,
            </if>
            <if test="modifytime != null">
                ModifyTime,
            </if>
            <if test="result != null">
                Result,
            </if>
            <if test="closepan != null">
                ClosePan,
            </if>
            <if test="zoudi != null">
                ZouDi,
            </if>
            <if test="running != null">
                Running,
            </if>
            <if test="goalReal != null">
                Goal_Real,
            </if>
            <if test="upoddsReal != null">
                UpOdds_Real,
            </if>
            <if test="downoddsReal != null">
                DownOdds_Real,
            </if>
            <if test="isstoplive != null">
                isStopLive,
            </if>
            <if test="starttime != null">
                StartTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oddsid != null">
                #{oddsid,jdbcType=INTEGER},
            </if>
            <if test="scheduleid != null">
                #{scheduleid,jdbcType=INTEGER},
            </if>
            <if test="companyid != null">
                #{companyid,jdbcType=INTEGER},
            </if>
            <if test="firstgoal != null">
                #{firstgoal,jdbcType=REAL},
            </if>
            <if test="firstupodds != null">
                #{firstupodds,jdbcType=REAL},
            </if>
            <if test="firstdownodds != null">
                #{firstdownodds,jdbcType=REAL},
            </if>
            <if test="goal != null">
                #{goal,jdbcType=REAL},
            </if>
            <if test="upodds != null">
                #{upodds,jdbcType=REAL},
            </if>
            <if test="downodds != null">
                #{downodds,jdbcType=REAL},
            </if>
            <if test="modifytime != null">
                #{modifytime,jdbcType=TIMESTAMP},
            </if>
            <if test="result != null">
                #{result,jdbcType=INTEGER},
            </if>
            <if test="closepan != null">
                #{closepan,jdbcType=BIT},
            </if>
            <if test="zoudi != null">
                #{zoudi,jdbcType=BIT},
            </if>
            <if test="running != null">
                #{running,jdbcType=BIT},
            </if>
            <if test="goalReal != null">
                #{goalReal,jdbcType=REAL},
            </if>
            <if test="upoddsReal != null">
                #{upoddsReal,jdbcType=REAL},
            </if>
            <if test="downoddsReal != null">
                #{downoddsReal,jdbcType=REAL},
            </if>
            <if test="isstoplive != null">
                #{isstoplive,jdbcType=BIT},
            </if>
            <if test="starttime != null">
                #{starttime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhcdata.db.model.Letgoal">
        update letgoal
        <set>
            <if test="scheduleid != null">
                ScheduleID = #{scheduleid,jdbcType=INTEGER},
            </if>
            <if test="companyid != null">
                CompanyID = #{companyid,jdbcType=INTEGER},
            </if>
            <if test="firstgoal != null">
                FirstGoal = #{firstgoal,jdbcType=REAL},
            </if>
            <if test="firstupodds != null">
                FirstUpodds = #{firstupodds,jdbcType=REAL},
            </if>
            <if test="firstdownodds != null">
                FirstDownodds = #{firstdownodds,jdbcType=REAL},
            </if>
            <if test="goal != null">
                Goal = #{goal,jdbcType=REAL},
            </if>
            <if test="upodds != null">
                UpOdds = #{upodds,jdbcType=REAL},
            </if>
            <if test="downodds != null">
                DownOdds = #{downodds,jdbcType=REAL},
            </if>
            <if test="modifytime != null">
                ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
            </if>
            <if test="result != null">
                Result = #{result,jdbcType=INTEGER},
            </if>
            <if test="closepan != null">
                ClosePan = #{closepan,jdbcType=BIT},
            </if>
            <if test="zoudi != null">
                ZouDi = #{zoudi,jdbcType=BIT},
            </if>
            <if test="running != null">
                Running = #{running,jdbcType=BIT},
            </if>
            <if test="goalReal != null">
                Goal_Real = #{goalReal,jdbcType=REAL},
            </if>
            <if test="upoddsReal != null">
                UpOdds_Real = #{upoddsReal,jdbcType=REAL},
            </if>
            <if test="downoddsReal != null">
                DownOdds_Real = #{downoddsReal,jdbcType=REAL},
            </if>
            <if test="isstoplive != null">
                isStopLive = #{isstoplive,jdbcType=BIT},
            </if>
            <if test="starttime != null">
                StartTime = #{starttime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where OddsID = #{oddsid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhcdata.db.model.Letgoal">
    update letgoal
    set ScheduleID = #{scheduleid,jdbcType=INTEGER},
      CompanyID = #{companyid,jdbcType=INTEGER},
      FirstGoal = #{firstgoal,jdbcType=REAL},
      FirstUpodds = #{firstupodds,jdbcType=REAL},
      FirstDownodds = #{firstdownodds,jdbcType=REAL},
      Goal = #{goal,jdbcType=REAL},
      UpOdds = #{upodds,jdbcType=REAL},
      DownOdds = #{downodds,jdbcType=REAL},
      ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      Result = #{result,jdbcType=INTEGER},
      ClosePan = #{closepan,jdbcType=BIT},
      ZouDi = #{zoudi,jdbcType=BIT},
      Running = #{running,jdbcType=BIT},
      Goal_Real = #{goalReal,jdbcType=REAL},
      UpOdds_Real = #{upoddsReal,jdbcType=REAL},
      DownOdds_Real = #{downoddsReal,jdbcType=REAL},
      isStopLive = #{isstoplive,jdbcType=BIT},
      StartTime = #{starttime,jdbcType=TIMESTAMP}
    where OddsID = #{oddsid,jdbcType=INTEGER}
  </update>
  
    <update id="updateOddsByOddsId">
      update letgoal set
      Goal = #{goal,jdbcType=REAL},
      UpOdds = #{upodds,jdbcType=REAL},
      DownOdds = #{downodds,jdbcType=REAL},
      Goal_Real = #{goal,jdbcType=REAL},
      UpOdds_Real = #{upodds,jdbcType=REAL},
      DownOdds_Real = #{downodds,jdbcType=REAL},
      ModifyTime = #{modifytime,jdbcType=TIMESTAMP}
      where oddsid = #{oddsid} and ModifyTime &lt; #{modifytime,jdbcType=TIMESTAMP}
    </update>
</mapper>