<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcdata.db.mapper.ScheduleMapper">

    <!--  <resultMap id="ResultMapWithBLOBs" type="com.zhcw.model.Schedule" extends="BaseResultMap" >-->
    <!--    <result column="Explain" property="explain" jdbcType="LONGVARCHAR" />-->
    <!--  </resultMap>-->
    <sql id="Base_Column_List">
    ScheduleID, SclassID, MatchSeason, round, grouping, HomeTeamID, GuestTeamID, HomeTeam, 
    GuestTeam, Neutrality, MatchTime, MatchTime2, Location, Home_Order, Guest_Order, 
    MatchState, WeatherIcon, Weather, Temperature, TV, Umpire, Visitor, HomeScore, GuestScore, 
    HomeHalfScore, GuestHalfScore, Home_Red, Guest_Red, Home_Yellow, Guest_Yellow, bf_changetime, 
    shangpan, grouping2, bfShow, subSclassID, Explainlist, VenuesID, isGuessRed, isLive, 
    homeCorner, homeCornerHalf, guestCorner, guestCornerHalf
  </sql>

    <sql id="Blob_Column_List">
    Explain
  </sql>

    <select id="selectByPrimaryKey" resultType="com.zhcdata.db.model.Schedule" parameterType="java.lang.Integer">
    select 
    *
    from schedule
    where ScheduleID = #{scheduleid}
  </select>
    <select id="selectPastAndFutureNoEnd" resultType="com.zhcdata.db.model.Schedule">
    select * from schedule where MatchTime > #{past} and matchTime &lt; #{future} and MatchState != #{i}
  </select>

    <select id="selectScheduleIdByDate" resultType="java.lang.Integer">
    select ScheduleID from schedule WHERE
    1 = 1
    and matchTime <![CDATA[>= ]]>date(date_sub(now() ,interval #{before} day))
    and matchTime <![CDATA[<=]]> date(date_add(now() ,interval #{after} day))
  </select>

    <select id="selectScheduleIdByTime" resultType="java.lang.Integer">
    select ScheduleID from schedule WHERE
    1=1
    and matchTime <![CDATA[>= ]]>date_sub(now() ,interval #{before} day)
    and matchTime <![CDATA[<=]]> date_add(now() ,interval #{after} day)
  </select>
    <select id="selectOddsResultsByMatchId" resultType="com.zhcdata.jc.dto.HandicapOddsResult">
        <if test="type == 1">
            /* 欧赔 */
            select c.CompanyId opId,c.name opName,l.FirstHomeWin opSatWin,l.FirstStandoff opSatFlat,l.FirstGuestwin
            opStaLose,IFNULL(l.RealHomeWin,l.FirstHomeWin) opNowWin,IFNULL(l.RealStandoff,l.FirstStandoff)
            opNowFlat,IFNULL(l.RealGuestWin,l.FirstGuestwin) opNowLose from europeodds l,europe_companys_custom c WHERE
            l.CompanyId = c.CompanyId AND l.ScheduleID = #{matchId}
            order by c.sort
        </if>
        <if test="type == 2">
            /* 亚盘 */
            SELECT c.CompanyId opId,c.name opName,l.FirstUpodds opSatWin,l.FirstGoal opSatFlat,l.FirstDownodds
            opStaLose,l.Upodds_Real opNowWin,l.Goal_Real opNowFlat,l.Downodds_Real opNowLose from letgoal l ,
            company_custom c WHERE l.CompanyId = c.CompanyId AND l.ScheduleID = #{matchId}
            order by c.sort
        </if>
        <if test="type == 3">
            /* 大小球 */
            SELECT c.CompanyId opId,c.name opName,l.FirstUpodds opSatWin,l.FirstGoal opSatFlat,l.FirstDownodds
            opStaLose,l.Upodds_Real opNowWin,l.Goal_Real opNowFlat,l.Downodds_Real opNowLose from TotalScore l ,
            company_custom c WHERE l.CompanyId = c.CompanyId AND l.ScheduleID = #{matchId}
            order by c.sort
        </if>

    </select>
    <select id="selectOddsResultDetailByMatchId" resultType="com.zhcdata.jc.dto.HandicapOddsDetailsResult">
        <if test="type == 1">
            /* 欧赔 */
            select ModifyTime oddTime,HomeWin oddWin,Standoff oddFlat,GuestWin oddLose from europeoddsdetail l WHERE
            l.oddsid = (select oddsid from europeodds where
            ScheduleID = #{matchId}
            AND CompanyID = #{companyId}) ORDER BY oddTime desc
        </if>
        <if test="type == 2">
            /* 亚盘 */
            select ModifyTime oddTime,upOdds oddWin,Goal oddFlat,downOdds oddLose from letgoaldetail l WHERE
            l.oddsid = (select oddsid from letgoal where
            ScheduleID = #{matchId}
            AND CompanyID = #{companyId}) ORDER BY oddTime desc
        </if>
        <if test="type == 3">
            /* 大小球 */
            select ModifyTime oddTime,upOdds oddWin,Goal oddFlat,downOdds oddLose from totalscoredetail l WHERE
            l.oddsid = (select oddsid from TotalScore where
            ScheduleID = #{matchId}
            AND CompanyID = #{companyId}) ORDER BY oddTime desc
        </if>
    </select>
    <select id="selectNearlyMatchData" resultType="com.zhcdata.jc.dto.IntegralRankingDto">
    select '--' as rank, t2.matchCount,t2.winCount,t2.flatCount,t2.loseCount,t2.goal,t2.lost,(winCount*3+flatCount) score,(t2.goal-t2.lost) goalDiff from (
    SELECT
    count(Scheduleid) matchCount,
    sum(case when hometeamid = #{teamId} and homescore>guestscore then 1
    when guestteamid =  #{teamId} and homescore <![CDATA[ < ]]> guestscore then 1 else 0 END)  winCount,
    sum(case when homescore = guestscore then 1 else 0 END) flatCount,
    sum(case when hometeamid =  #{teamId} and homescore <![CDATA[ < ]]> guestscore then 1
    when guestteamid =  #{teamId} and homescore > guestscore then 1 else 0 END) loseCount,
    sum(case when hometeamid =  #{teamId} then homescore else guestscore END) goal,
    sum(case when hometeamid =  #{teamId} then guestscore else homescore end) lost
    FROM(
    SELECT s.* from schedule s left join sclass ss ON s.SclassID = ss.sclassID
				WHERE ss.kind = 1 and matchState = -1
              AND matchtime <![CDATA[<]]> #{matchTime}
     AND (hometeamid = #{teamId} or guestteamid = #{teamId})
     order by matchtime desc limit #{count}) t
    )t2
  </select>
    <select id="selectHistoryMatchByTeam" resultType="com.zhcdata.jc.dto.HistoryMatchDto">
        SELECT
            matchtime matchDate,
            sc.name_js matchName,
            t.name_j homeName,
            s.homescore hostScore,
            s.homehalfscore hostHalfScore,
            t2.name_j guestName,
            s.guestscore guestScore,
            s.guesthalfscore guestHalfScore,
            CASE WHEN s.hometeamid = #{teamId} THEN 1 ELSE 2 END panlu,
            ifnull(l.Goal_Real,0) goal
        FROM
            schedule s
        LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
        LEFT JOIN team t ON s.hometeamid = t.teamid
        LEFT JOIN team t2 ON s.guestteamid = t2.teamid
        LEFT JOIN letgoal l on s.scheduleID = l.scheduleid and l.companyid = 8
        WHERE
            matchState = -1
          AND matchtime <![CDATA[<]]> #{matchTime}
        <if test="type == 1">
            AND hometeamid = #{teamId}
        </if>
        <if test="type == 2">
            AND guestteamid = #{teamId}
        </if>
        <if test="type != 2 and type != 1">
            AND (hometeamid = #{teamId} or guestteamid = #{teamId})
        </if>
        <if test="sclassId != null">
            AND s.sclassid = #{sclassId}
        </if>
        ORDER BY
            matchtime DESC
        LIMIT #{count}
    </select>

    <select id="selectHistoryMatchByTwoTeam" resultType="com.zhcdata.jc.dto.HistoryMatchDto">
        SELECT
        matchtime matchDate,
        sc.name_js matchName,
        t.name_j homeName,
        s.homescore hostScore,
        s.homehalfscore hostHalfScore,
        t2.name_j guestName,
        s.guestscore guestScore,
        s.guesthalfscore guestHalfScore,
        CASE WHEN s.hometeamid = #{homeTeamId} THEN 1 ELSE 2 END panlu,
        ifnull(l.Goal_Real,0) goal
        FROM
        schedule s
        LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
        LEFT JOIN team t ON s.hometeamid = t.teamid
        LEFT JOIN team t2 ON s.guestteamid = t2.teamid
        LEFT JOIN letgoal l on s.scheduleID = l.scheduleid and l.companyid = 8
        WHERE
        matchState = -1
        AND matchtime <![CDATA[<]]> #{matchTime}
        <if test="type == 1">
            AND hometeamid = #{homeTeamId}
            AND guestteamid = #{guestTeamId}
        </if>
        <if test="type == null">
            AND (hometeamid = #{homeTeamId} or guestteamid = #{homeTeamId})
            AND (hometeamid = #{guestTeamId} or guestteamid = #{guestTeamId})
        </if>
        ORDER BY
        matchtime DESC
        LIMIT #{count}
    </select>
    <select id="selectMatchAndOdds" resultType="com.zhcdata.jc.dto.SameOddsDto">

        select t.lotteryType,t.issueNum,t.noId,
        t.matchId,t.matchName,t.matchState,t.matchTime1,t.matchTime2,t.homeName,t.homeScore,t.homeHalfScore,t.guestName,t.guestScore,t.guestHalfScore,
        t.homeRedCard,t.guestRedCard,t.homeYlwCard,t.guestYlwCard,
        o.FirstHomeWin tpeiWinHandicap,
        o.FirstStandoff tpeiFlatHandicap,
        o.FirstGuestWin tpeilLoseHandicap,
        case when o.FirstHomeWin <![CDATA[<]]> o.FirstGuestWin then 0
        else 1 end flag,
        case when o.FirstHomeWin <![CDATA[<]]> o.FirstGuestWin then
        (case when o.FirstHomeWin <![CDATA[<]]> o.RealHomeWin then 1 else -1 end)
        else
        (case when o.FirstGuestWin <![CDATA[<]]> o.RealGuestWin then 1 else -1 end) end trend,
        l.FirstGoal firstGoal,l.FirstUpOdds firstUpOdds,l.FirstDownOdds firstDownOdds,recommendCount from (
        SELECT
        CASE l.lottery WHEN 'JCZQ' THEN '1' WHEN 'BJDC' THEN '2' WHEN 'SF14' THEN '3' ELSE '4' END lotteryType,
        l.issue_num issueNum,
        l.no_id noId,
        sc.name_js matchName,
        s.matchTime matchTime1,
        s.matchTime2 matchTime2,
        t.name_j homeName,
        s.homescore homeScore,
        s.homehalfscore homeHalfScore,
        t2.name_j guestName,
        s.guestscore guestScore,
        s.guesthalfscore guestHalfScore,
        s.home_red homeRedCard,
        s.guest_red guestRedCard,
        s.home_yellow homeYlwCard,
        s.guest_yellow guestYlwCard,
        s.scheduleid matchId,
        s.matchstate matchState,
        (SELECT count(*) from tb_jc_match where match_id=s.ScheduleID) recommendCount
        FROM SCHEDULE s
        LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
        LEFT JOIN team t ON s.hometeamid = t.teamid
        LEFT JOIN team t2 ON s.guestteamid = t2.teamid
        LEFT JOIN jc_match_lottery l ON s.scheduleid = l.ID_BET007
        WHERE
        1 = 1
        AND s.matchtime >= concat(#{date},' 11:00:00') AND s.matchtime <![CDATA[<]]> concat(DATE_ADD(#{date},INTERVAL 1 DAY),' 11:00:00')
        ) t left join europeodds o on t.matchId = o.scheduleid and o.companyid = 281
        left join letgoal l on t.matchId = l.scheduleid and l.companyid = 8
        where 1=1
        and o.RealHomeWin is not NULL and o.FirstHomeWin != o.RealHomeWin
    </select>
    <select id="selectSameOddsStatistic" resultType="com.zhcdata.jc.dto.SameOddsStatisticDto">
        select
        count(ScheduleID) total,
        sum(case when HomeScore>GuestScore then 1 else 0 end) winCount,
        sum(case when HomeScore=GuestScore then 1 else 0 end) flatCount,
        sum(case when HomeScore<![CDATA[<]]>GuestScore then 1 else 0 end) loseCount,
        sum(case when HomeScore-(#{firstGoal})>GuestScore then 1 else 0 end) winPanCount,
        sum(case when HomeScore-(#{firstGoal})=GuestScore then 1 else 0 end) flatPanCount,
        sum(case when HomeScore-(#{firstGoal})<![CDATA[<]]>GuestScore then 1 else 0 end) losePanCount
        from ( select e.OddsID,s.ScheduleID, s.HomeScore, s.GuestScore
        from europeodds e left join SCHEDULE s on e.ScheduleID = s.ScheduleID
        left join score sc on s.SclassID = sc.SclassID
        <if test="flag == 0">
            and sc.TeamID = s.HomeTeamID
        </if>
        <if test="flag == 1">
            and sc.TeamID = s.GuestTeamID
        </if>
        where e.companyid = 281
        and e.FirstHomeWin = #{tpeiWinHandicap}
        and e.FirstGuestWin = #{tpeilLoseHandicap} and e.FirstStandoff = #{tpeiFlatHandicap}
        and s.ScheduleID is not null
        <if test="flag == 0">
            <if test="trend == 1">
                and e.RealHomeWin > e.FirstHomeWin
            </if>
            <if test="trend == -1">
                and e.FirstHomeWin > e.RealHomeWin
            </if>
        </if>
        <if test="flag == 1">
            <if test="trend == 1">
                and e.RealGuestWin > e.FirstGuestWin
            </if>
            <if test="trend == -1">
                and e.FirstGuestWin > e.RealGuestWin
            </if>
        </if>
        order by sc.Win_Score/(sc.Win_Score+sc.Flat_Score+sc.Fail_Score) desc
         limit 200
        ) _temp
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from schedule
    where ScheduleID = #{scheduleid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zhcdata.db.model.Schedule" >
    insert into schedule (ScheduleID, SclassID, MatchSeason, 
      round, grouping, HomeTeamID, 
      GuestTeamID, HomeTeam, GuestTeam, 
      Neutrality, MatchTime, MatchTime2, 
      Location, Home_Order, Guest_Order, 
      MatchState, WeatherIcon, Weather, 
      Temperature, TV, Umpire, 
      Visitor, HomeScore, GuestScore, 
      HomeHalfScore, GuestHalfScore, Home_Red, 
      Guest_Red, Home_Yellow, Guest_Yellow, 
      bf_changetime, shangpan, grouping2, 
      bfShow, subSclassID, Explainlist, 
      VenuesID, isGuessRed, isLive, 
      homeCorner, homeCornerHalf, guestCorner, 
      guestCornerHalf, Explain)
    values (#{scheduleid,jdbcType=INTEGER}, #{sclassid,jdbcType=INTEGER}, #{matchseason,jdbcType=CHAR}, 
      #{round,jdbcType=SMALLINT}, #{grouping,jdbcType=CHAR}, #{hometeamid,jdbcType=INTEGER}, 
      #{guestteamid,jdbcType=INTEGER}, #{hometeam,jdbcType=CHAR}, #{guestteam,jdbcType=CHAR}, 
      #{neutrality,jdbcType=BIT}, #{matchtime,jdbcType=TIMESTAMP}, #{matchtime2,jdbcType=TIMESTAMP}, 
      #{location,jdbcType=VARCHAR}, #{homeOrder,jdbcType=CHAR}, #{guestOrder,jdbcType=CHAR}, 
      #{matchstate,jdbcType=SMALLINT}, #{weathericon,jdbcType=SMALLINT}, #{weather,jdbcType=CHAR}, 
      #{temperature,jdbcType=CHAR}, #{tv,jdbcType=VARCHAR}, #{umpire,jdbcType=CHAR}, 
      #{visitor,jdbcType=INTEGER}, #{homescore,jdbcType=SMALLINT}, #{guestscore,jdbcType=SMALLINT}, 
      #{homehalfscore,jdbcType=SMALLINT}, #{guesthalfscore,jdbcType=SMALLINT}, #{homeRed,jdbcType=SMALLINT}, 
      #{guestRed,jdbcType=SMALLINT}, #{homeYellow,jdbcType=SMALLINT}, #{guestYellow,jdbcType=SMALLINT}, 
      #{bfChangetime,jdbcType=TIMESTAMP}, #{shangpan,jdbcType=INTEGER}, #{grouping2,jdbcType=CHAR}, 
      #{bfshow,jdbcType=BIT}, #{subsclassid,jdbcType=INTEGER}, #{explainlist,jdbcType=VARCHAR}, 
      #{venuesid,jdbcType=INTEGER}, #{isguessred,jdbcType=BIT}, #{islive,jdbcType=BIT}, 
      #{homecorner,jdbcType=INTEGER}, #{homecornerhalf,jdbcType=INTEGER}, #{guestcorner,jdbcType=INTEGER}, 
      #{guestcornerhalf,jdbcType=INTEGER}, #{explain,jdbcType=LONGVARCHAR})
  </insert>


  <insert id="insertSelective" parameterType="com.zhcdata.db.model.Schedule" >
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scheduleid != null" >
        ScheduleID,
      </if>
      <if test="sclassid != null" >
        SclassID,
      </if>
      <if test="matchseason != null" >
        MatchSeason,
      </if>
      <if test="round != null" >
        round,
      </if>
      <if test="grouping != null" >
        grouping,
      </if>
      <if test="hometeamid != null" >
        HomeTeamID,
      </if>
      <if test="guestteamid != null" >
        GuestTeamID,
      </if>
      <if test="hometeam != null" >
        HomeTeam,
      </if>
      <if test="guestteam != null" >
        GuestTeam,
      </if>
      <if test="neutrality != null" >
        Neutrality,
      </if>
      <if test="matchtime != null" >
        MatchTime,
      </if>
      <if test="matchtime2 != null" >
        MatchTime2,
      </if>
      <if test="location != null" >
        Location,
      </if>
      <if test="homeOrder != null" >
        Home_Order,
      </if>
      <if test="guestOrder != null" >
        Guest_Order,
      </if>
      <if test="matchstate != null" >
        MatchState,
      </if>
      <if test="weathericon != null" >
        WeatherIcon,
      </if>
      <if test="weather != null" >
        Weather,
      </if>
      <if test="temperature != null" >
        Temperature,
      </if>
      <if test="tv != null" >
        TV,
      </if>
      <if test="umpire != null" >
        Umpire,
      </if>
      <if test="visitor != null" >
        Visitor,
      </if>
      <if test="homescore != null" >
        HomeScore,
      </if>
      <if test="guestscore != null" >
        GuestScore,
      </if>
      <if test="homehalfscore != null" >
        HomeHalfScore,
      </if>
      <if test="guesthalfscore != null" >
        GuestHalfScore,
      </if>
      <if test="homeRed != null" >
        Home_Red,
      </if>
      <if test="guestRed != null" >
        Guest_Red,
      </if>
      <if test="homeYellow != null" >
        Home_Yellow,
      </if>
      <if test="guestYellow != null" >
        Guest_Yellow,
      </if>
      <if test="bfChangetime != null" >
        bf_changetime,
      </if>
      <if test="shangpan != null" >
        shangpan,
      </if>
      <if test="grouping2 != null" >
        grouping2,
      </if>
      <if test="bfshow != null" >
        bfShow,
      </if>
      <if test="subsclassid != null" >
        subSclassID,
      </if>
      <if test="explainlist != null" >
        Explainlist,
      </if>
      <if test="venuesid != null" >
        VenuesID,
      </if>
      <if test="isguessred != null" >
        isGuessRed,
      </if>
      <if test="islive != null" >
        isLive,
      </if>
      <if test="homecorner != null" >
        homeCorner,
      </if>
      <if test="homecornerhalf != null" >
        homeCornerHalf,
      </if>
      <if test="guestcorner != null" >
        guestCorner,
      </if>
      <if test="guestcornerhalf != null" >
        guestCornerHalf,
      </if>
      <if test="explain != null" >
        Explain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scheduleid != null" >
        #{scheduleid,jdbcType=INTEGER},
      </if>
      <if test="sclassid != null" >
        #{sclassid,jdbcType=INTEGER},
      </if>
      <if test="matchseason != null" >
        #{matchseason,jdbcType=CHAR},
      </if>
      <if test="round != null" >
        #{round,jdbcType=SMALLINT},
      </if>
      <if test="grouping != null" >
        #{grouping,jdbcType=CHAR},
      </if>
      <if test="hometeamid != null" >
        #{hometeamid,jdbcType=INTEGER},
      </if>
      <if test="guestteamid != null" >
        #{guestteamid,jdbcType=INTEGER},
      </if>
      <if test="hometeam != null" >
        #{hometeam,jdbcType=CHAR},
      </if>
      <if test="guestteam != null" >
        #{guestteam,jdbcType=CHAR},
      </if>
      <if test="neutrality != null" >
        #{neutrality,jdbcType=BIT},
      </if>
      <if test="matchtime != null" >
        #{matchtime,jdbcType=TIMESTAMP},
      </if>
      <if test="matchtime2 != null" >
        #{matchtime2,jdbcType=TIMESTAMP},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="homeOrder != null" >
        #{homeOrder,jdbcType=CHAR},
      </if>
      <if test="guestOrder != null" >
        #{guestOrder,jdbcType=CHAR},
      </if>
      <if test="matchstate != null" >
        #{matchstate,jdbcType=SMALLINT},
      </if>
      <if test="weathericon != null" >
        #{weathericon,jdbcType=SMALLINT},
      </if>
      <if test="weather != null" >
        #{weather,jdbcType=CHAR},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=CHAR},
      </if>
      <if test="tv != null" >
        #{tv,jdbcType=VARCHAR},
      </if>
      <if test="umpire != null" >
        #{umpire,jdbcType=CHAR},
      </if>
      <if test="visitor != null" >
        #{visitor,jdbcType=INTEGER},
      </if>
      <if test="homescore != null" >
        #{homescore,jdbcType=SMALLINT},
      </if>
      <if test="guestscore != null" >
        #{guestscore,jdbcType=SMALLINT},
      </if>
      <if test="homehalfscore != null" >
        #{homehalfscore,jdbcType=SMALLINT},
      </if>
      <if test="guesthalfscore != null" >
        #{guesthalfscore,jdbcType=SMALLINT},
      </if>
      <if test="homeRed != null" >
        #{homeRed,jdbcType=SMALLINT},
      </if>
      <if test="guestRed != null" >
        #{guestRed,jdbcType=SMALLINT},
      </if>
      <if test="homeYellow != null" >
        #{homeYellow,jdbcType=SMALLINT},
      </if>
      <if test="guestYellow != null" >
        #{guestYellow,jdbcType=SMALLINT},
      </if>
      <if test="bfChangetime != null" >
        #{bfChangetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shangpan != null" >
        #{shangpan,jdbcType=INTEGER},
      </if>
      <if test="grouping2 != null" >
        #{grouping2,jdbcType=CHAR},
      </if>
      <if test="bfshow != null" >
        #{bfshow,jdbcType=BIT},
      </if>
      <if test="subsclassid != null" >
        #{subsclassid,jdbcType=INTEGER},
      </if>
      <if test="explainlist != null" >
        #{explainlist,jdbcType=VARCHAR},
      </if>
      <if test="venuesid != null" >
        #{venuesid,jdbcType=INTEGER},
      </if>
      <if test="isguessred != null" >
        #{isguessred,jdbcType=BIT},
      </if>
      <if test="islive != null" >
        #{islive,jdbcType=BIT},
      </if>
      <if test="homecorner != null" >
        #{homecorner,jdbcType=INTEGER},
      </if>
      <if test="homecornerhalf != null" >
        #{homecornerhalf,jdbcType=INTEGER},
      </if>
      <if test="guestcorner != null" >
        #{guestcorner,jdbcType=INTEGER},
      </if>
      <if test="guestcornerhalf != null" >
        #{guestcornerhalf,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcdata.db.model.Schedule" >
    update schedule
    <set >
      <if test="sclassid != null" >
        SclassID = #{sclassid,jdbcType=INTEGER},
      </if>
      <if test="matchseason != null" >
        MatchSeason = #{matchseason,jdbcType=CHAR},
      </if>
      <if test="round != null" >
        round = #{round,jdbcType=SMALLINT},
      </if>
      <if test="grouping != null" >
        grouping = #{grouping,jdbcType=CHAR},
      </if>
      <if test="hometeamid != null" >
        HomeTeamID = #{hometeamid,jdbcType=INTEGER},
      </if>
      <if test="guestteamid != null" >
        GuestTeamID = #{guestteamid,jdbcType=INTEGER},
      </if>
      <if test="hometeam != null" >
        HomeTeam = #{hometeam,jdbcType=CHAR},
      </if>
      <if test="guestteam != null" >
        GuestTeam = #{guestteam,jdbcType=CHAR},
      </if>
      <if test="neutrality != null" >
        Neutrality = #{neutrality,jdbcType=BIT},
      </if>
      <if test="matchtime != null" >
        MatchTime = #{matchtime,jdbcType=TIMESTAMP},
      </if>
      <if test="matchtime2 != null" >
        MatchTime2 = #{matchtime2,jdbcType=TIMESTAMP},
      </if>
      <if test="location != null" >
        Location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="homeOrder != null" >
        Home_Order = #{homeOrder,jdbcType=CHAR},
      </if>
      <if test="guestOrder != null" >
        Guest_Order = #{guestOrder,jdbcType=CHAR},
      </if>
      <if test="matchstate != null" >
        MatchState = #{matchstate,jdbcType=SMALLINT},
      </if>
      <if test="weathericon != null" >
        WeatherIcon = #{weathericon,jdbcType=SMALLINT},
      </if>
      <if test="weather != null" >
        Weather = #{weather,jdbcType=CHAR},
      </if>
      <if test="temperature != null" >
        Temperature = #{temperature,jdbcType=CHAR},
      </if>
      <if test="tv != null" >
        TV = #{tv,jdbcType=VARCHAR},
      </if>
      <if test="umpire != null" >
        Umpire = #{umpire,jdbcType=CHAR},
      </if>
      <if test="visitor != null" >
        Visitor = #{visitor,jdbcType=INTEGER},
      </if>
      <if test="homescore != null" >
        HomeScore = #{homescore,jdbcType=SMALLINT},
      </if>
      <if test="guestscore != null" >
        GuestScore = #{guestscore,jdbcType=SMALLINT},
      </if>
      <if test="homehalfscore != null" >
        HomeHalfScore = #{homehalfscore,jdbcType=SMALLINT},
      </if>
      <if test="guesthalfscore != null" >
        GuestHalfScore = #{guesthalfscore,jdbcType=SMALLINT},
      </if>
      <if test="homeRed != null" >
        Home_Red = #{homeRed,jdbcType=SMALLINT},
      </if>
      <if test="guestRed != null" >
        Guest_Red = #{guestRed,jdbcType=SMALLINT},
      </if>
      <if test="homeYellow != null" >
        Home_Yellow = #{homeYellow,jdbcType=SMALLINT},
      </if>
      <if test="guestYellow != null" >
        Guest_Yellow = #{guestYellow,jdbcType=SMALLINT},
      </if>
      <if test="bfChangetime != null" >
        bf_changetime = #{bfChangetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shangpan != null" >
        shangpan = #{shangpan,jdbcType=INTEGER},
      </if>
      <if test="grouping2 != null" >
        grouping2 = #{grouping2,jdbcType=CHAR},
      </if>
      <if test="bfshow != null" >
        bfShow = #{bfshow,jdbcType=BIT},
      </if>
      <if test="subsclassid != null" >
        subSclassID = #{subsclassid,jdbcType=INTEGER},
      </if>
      <if test="explainlist != null" >
        Explainlist = #{explainlist,jdbcType=VARCHAR},
      </if>
      <if test="venuesid != null" >
        VenuesID = #{venuesid,jdbcType=INTEGER},
      </if>
      <if test="isguessred != null" >
        isGuessRed = #{isguessred,jdbcType=BIT},
      </if>
      <if test="islive != null" >
        isLive = #{islive,jdbcType=BIT},
      </if>
      <if test="homecorner != null" >
        homeCorner = #{homecorner,jdbcType=INTEGER},
      </if>
      <if test="homecornerhalf != null" >
        homeCornerHalf = #{homecornerhalf,jdbcType=INTEGER},
      </if>
      <if test="guestcorner != null" >
        guestCorner = #{guestcorner,jdbcType=INTEGER},
      </if>
      <if test="guestcornerhalf != null" >
        guestCornerHalf = #{guestcornerhalf,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        Explain = #{explain,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ScheduleID = #{scheduleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhcdata.db.model.Schedule" >
    update schedule
    set SclassID = #{sclassid,jdbcType=INTEGER},
      MatchSeason = #{matchseason,jdbcType=CHAR},
      round = #{round,jdbcType=SMALLINT},
      grouping = #{grouping,jdbcType=CHAR},
      HomeTeamID = #{hometeamid,jdbcType=INTEGER},
      GuestTeamID = #{guestteamid,jdbcType=INTEGER},
      HomeTeam = #{hometeam,jdbcType=CHAR},
      GuestTeam = #{guestteam,jdbcType=CHAR},
      Neutrality = #{neutrality,jdbcType=BIT},
      MatchTime = #{matchtime,jdbcType=TIMESTAMP},
      MatchTime2 = #{matchtime2,jdbcType=TIMESTAMP},
      Location = #{location,jdbcType=VARCHAR},
      Home_Order = #{homeOrder,jdbcType=CHAR},
      Guest_Order = #{guestOrder,jdbcType=CHAR},
      MatchState = #{matchstate,jdbcType=SMALLINT},
      WeatherIcon = #{weathericon,jdbcType=SMALLINT},
      Weather = #{weather,jdbcType=CHAR},
      Temperature = #{temperature,jdbcType=CHAR},
      TV = #{tv,jdbcType=VARCHAR},
      Umpire = #{umpire,jdbcType=CHAR},
      Visitor = #{visitor,jdbcType=INTEGER},
      HomeScore = #{homescore,jdbcType=SMALLINT},
      GuestScore = #{guestscore,jdbcType=SMALLINT},
      HomeHalfScore = #{homehalfscore,jdbcType=SMALLINT},
      GuestHalfScore = #{guesthalfscore,jdbcType=SMALLINT},
      Home_Red = #{homeRed,jdbcType=SMALLINT},
      Guest_Red = #{guestRed,jdbcType=SMALLINT},
      Home_Yellow = #{homeYellow,jdbcType=SMALLINT},
      Guest_Yellow = #{guestYellow,jdbcType=SMALLINT},
      bf_changetime = #{bfChangetime,jdbcType=TIMESTAMP},
      shangpan = #{shangpan,jdbcType=INTEGER},
      grouping2 = #{grouping2,jdbcType=CHAR},
      bfShow = #{bfshow,jdbcType=BIT},
      subSclassID = #{subsclassid,jdbcType=INTEGER},
      Explainlist = #{explainlist,jdbcType=VARCHAR},
      VenuesID = #{venuesid,jdbcType=INTEGER},
      isGuessRed = #{isguessred,jdbcType=BIT},
      isLive = #{islive,jdbcType=BIT},
      homeCorner = #{homecorner,jdbcType=INTEGER},
      homeCornerHalf = #{homecornerhalf,jdbcType=INTEGER},
      guestCorner = #{guestcorner,jdbcType=INTEGER},
      guestCornerHalf = #{guestcornerhalf,jdbcType=INTEGER},
      Explain = #{explain,jdbcType=LONGVARCHAR}
    where ScheduleID = #{scheduleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcdata.db.model.Schedule" >
    update schedule
    set SclassID = #{sclassid,jdbcType=INTEGER},
      MatchSeason = #{matchseason,jdbcType=CHAR},
      round = #{round,jdbcType=SMALLINT},
      grouping = #{grouping,jdbcType=CHAR},
      HomeTeamID = #{hometeamid,jdbcType=INTEGER},
      GuestTeamID = #{guestteamid,jdbcType=INTEGER},
      HomeTeam = #{hometeam,jdbcType=CHAR},
      GuestTeam = #{guestteam,jdbcType=CHAR},
      Neutrality = #{neutrality,jdbcType=BIT},
      MatchTime = #{matchtime,jdbcType=TIMESTAMP},
      MatchTime2 = #{matchtime2,jdbcType=TIMESTAMP},
      Location = #{location,jdbcType=VARCHAR},
      Home_Order = #{homeOrder,jdbcType=CHAR},
      Guest_Order = #{guestOrder,jdbcType=CHAR},
      MatchState = #{matchstate,jdbcType=SMALLINT},
      WeatherIcon = #{weathericon,jdbcType=SMALLINT},
      Weather = #{weather,jdbcType=CHAR},
      Temperature = #{temperature,jdbcType=CHAR},
      TV = #{tv,jdbcType=VARCHAR},
      Umpire = #{umpire,jdbcType=CHAR},
      Visitor = #{visitor,jdbcType=INTEGER},
      HomeScore = #{homescore,jdbcType=SMALLINT},
      GuestScore = #{guestscore,jdbcType=SMALLINT},
      HomeHalfScore = #{homehalfscore,jdbcType=SMALLINT},
      GuestHalfScore = #{guesthalfscore,jdbcType=SMALLINT},
      Home_Red = #{homeRed,jdbcType=SMALLINT},
      Guest_Red = #{guestRed,jdbcType=SMALLINT},
      Home_Yellow = #{homeYellow,jdbcType=SMALLINT},
      Guest_Yellow = #{guestYellow,jdbcType=SMALLINT},
      bf_changetime = #{bfChangetime,jdbcType=TIMESTAMP},
      shangpan = #{shangpan,jdbcType=INTEGER},
      grouping2 = #{grouping2,jdbcType=CHAR},
      bfShow = #{bfshow,jdbcType=BIT},
      subSclassID = #{subsclassid,jdbcType=INTEGER},
      Explainlist = #{explainlist,jdbcType=VARCHAR},
      VenuesID = #{venuesid,jdbcType=INTEGER},
      isGuessRed = #{isguessred,jdbcType=BIT},
      isLive = #{islive,jdbcType=BIT},
      homeCorner = #{homecorner,jdbcType=INTEGER},
      homeCornerHalf = #{homecornerhalf,jdbcType=INTEGER},
      guestCorner = #{guestcorner,jdbcType=INTEGER},
      guestCornerHalf = #{guestcornerhalf,jdbcType=INTEGER}
    where ScheduleID = #{scheduleid,jdbcType=INTEGER}
  </update>

    <update id="updateByScheduleID" parameterType="com.zhcdata.db.model.Schedule">
        update schedule set  homeCorner=#{homeCorner},
                              homeCornerHalf=#{homeCornerHalf},
                              guestCorner=#{guestCorner},
                              guestCornerHalf=#{guestCornerHalf}
        where ScheduleID=#{ScheduleID}
    </update>

    <select id="queryMacthListForJob" resultType="com.zhcdata.jc.dto.MatchResult1">
        SELECT * from(
        select
        class.Name_JS matchName,/*联赛名称*/
        DATE_FORMAT(sc.MatchTime,'%H:%i') matchTime,/*开始时间*/
        sc.MatchTime2 MatchTime2,
        sc.MatchTime matchTimeOrder,
        case when sc.MatchState in('-10','-11','-12','-13','-14') then '9'
        when sc.MatchState in('4','5','-1') then '5'
        when sc.MatchState in('0') then '4'
        when sc.MatchState in('1','2','3') then '0'
        end as ord,
        case when sc.MatchState = '0' then '未' /*未开始*/
        when sc.MatchState in('4','5') then '(完)' /*正在进行*/
        when sc.MatchState = '2' then '中' /*中场*/
        when sc.MatchState = '-1' then '完' /*完结*/
        when sc.MatchState = '-14' then '推迟'/*推迟*/
        when sc.MatchState = '-12' then '腰斩'/*腰斩*/
        WHEN sc.MatchState = '-10' THEN '取消' /*取消*/
        when sc.MatchState = '1' then '1'
        when sc.MatchState = '3' then '3'
        end as matchState,/*比赛状态*/
        goal.FirstGoal matchPankou,/*盘口*/
        sc.HomeHalfScore homeHalfScore,/*主队半场比分*/
        sc.GuestHalfScore guestHalfScore,/*客队半场比分*/
        sc.Home_Red homeReadCard,/*主队红牌*/
        sc.Guest_Red guestReadCard,/*客队红牌*/
        sc.Home_Yellow homeYlwCard,/*主队黄牌*/
        sc.Guest_Yellow guestYlwCard,/*客队黄牌*/
        case when t.Name_J is null then sc.HomeTeam else t.Name_J end as homeName,
        case when t2.Name_J is null then sc.guestTeam else t2.Name_J end as guestName,
        sc.HomeScore homeScore,/*主队比分*/
        sc.GuestScore guestScore,/*客队比分*/
        sc.ScheduleID matchId,/*比赛id*/
        lottery.NO_ID number,/*期数场次*/
        0 iscollect,
        <if test="type == 1">
            lottery.NO_ID num,/*期数场次*/
        </if>
        <if test="type == 2">
            lottery.NO_ID num,/*期数场次*/
            lottery.ISSUE_NUM num1,/*北单大期号*/
        </if>
        <if test="type == 3">
            concat(substring(lottery.ISSUE_NUM, 3),'期',NO_ID) num,
            lottery.ISSUE_NUM num1,
            lottery.NO_ID num2,
        </if>
        CASE WHEN lottery.LOTTERY = 'JCZQ' then '1'
        WHEN lottery.LOTTERY = 'SF14' then '3'
        WHEN lottery.LOTTERY = 'BJDC' then '2'
        end as matchType,
        (SELECT count(*) from tb_jc_match m
        left join tb_jc_plan p on m.plan_id = p.id
        left join tb_jc_expert e  on p.ascription_expert = e.id
        left join jc_schedule ss on m.match_id = ss.ScheduleID
        where m.match_id=sc.ScheduleID and e.is_upshelf = '1' and m.match_num = ss.MatchID) recommendCount
        <if test="type == 1">
            ,(select case when Single101='1' then '1'
                         when Single105='1'  then '1' end from jc_schedule where scheduleid=sc.ScheduleID) isSingle
        </if>
        from schedule sc
        LEFT JOIN sclass class ON sc.SclassID = class.sclassID
        LEFT JOIN letgoal goal ON sc.ScheduleID = goal.ScheduleID and goal.CompanyID = '8'
        LEFT JOIN team t ON sc.HomeTeamID = t.TeamID
        LEFT JOIN team t2 ON sc.GuestTeamID = t2.TeamID
        LEFT JOIN jc_match_lottery lottery ON sc.ScheduleID = lottery.ID_BET007
        <if test="type == 3">
            <if test="issueNum !=null and issueNum !=''">
                where lottery.ISSUE_NUM =#{issueNum}
            </if>
            <if test="issueNum ==null || issueNum==''">
                where lottery. ISSUE_NUM in(
                SELECT lottery.ISSUE_NUM from jc_match_lottery lottery
                LEFT JOIN `schedule` sch on lottery.ID_BET007=sch.scheduleID where lottery.lottery='SF14'
                <if test="startTime !=null and startTime !=''">
                  and sch.matchTime>= #{startTime}
                </if>
                GROUP BY ISSUE_NUM)
            </if>
        </if>
        <if test="type == 1 or type == 2 or type == 4 or type == 5">
            where sc.MatchTime >= #{startTime} and sc.MatchTime  <![CDATA[ < ]]> #{endTime}
        </if>

        <if test="state == 1">/*正在进行*/
            and sc.MatchState in ('1','2','3','4','5')
        </if>
        <if test="state == 2">/*未开始*/
            and sc.MatchState = '0'
        </if>
        <if test="state == 3">/*已结束*/
            and sc.MatchState in(-1,-10,-12,-14)
        </if>
        <if test="type == 1">/*竞彩*/
            and lottery.LOTTERY = 'JCZQ'
        </if>
        <if test="type == 3">/*足彩*/
            and lottery.LOTTERY = 'SF14'
        </if>
        <if test="type == 2">/*北单*/
            and lottery.LOTTERY = 'BJDC'
        </if>
        <if test="type != 3">
            and sc.bfShow=0
        </if>
        <if test="panKouTypeList != null and panKouTypeList.size>0">
            and goal.FirstGoal in
            <foreach collection="panKouTypeList" item="name" index="index" open="(" close=")" separator=",">
                #{name}
            </foreach>
        </if>
        <if test="matchTypeList != null and matchTypeList.size>0">
            and class.Name_JS in
            <foreach collection="matchTypeList" item="name" index="index" open="(" close=")" separator=",">
                #{name}
            </foreach>
        </if>
        ) a
        <if test="isCheck == 1">
        WHERE a.recommendCount>0
        </if>
        GROUP BY a.matchId ORDER BY
        <!--<if test="panKouTypeList != null or matchTypeList != null">-->
            abs(a.ord) asc,
        <!--</if>-->
        <if test="type == 1">
            a.num
        </if>
        <if test="type == 2">
            a.num1,abs(a.num)
        </if>
        <if test="type == 4">
            a.matchTimeOrder
        </if>
        <if test="type == 3">
            a.num1,abs(a.num2)
        </if>
        <if test="type == 5">
            a.matchTimeOrder
        </if>
        asc
        ,matchid asc
    </select>


    <select id="queryZcNum" resultType="String">
       SELECT max(lottery.ISSUE_NUM) from schedule  sc
       LEFT JOIN jc_match_lottery lottery ON sc.ScheduleID = lottery.ID_BET007 and lottery.LOTTERY = 'SF14'
       where sc.MatchTime >= #{startDate}
    </select>

    <select id="queryBdNum" resultType="String">
        SELECT lottery.ISSUE_NUM num from jc_match_lottery lottery LEFT JOIN schedule sc ON sc.ScheduleID = lottery.ID_BET007
        where lottery.LOTTERY = 'BJDC' and sc.MatchTime >= #{startDate} and sc.MatchTime &lt;#{endTime} ORDER BY num desc LIMIT 1
    </select>

    <select id="queryAttentionList" resultType="com.zhcdata.jc.dto.MatchResult1">
            SELECT *from(
            select
            class.Name_JS matchName,/*联赛名称*/
            DATE_FORMAT(sc.MatchTime,'%H:%i') matchTime,
            sc.MatchTime2 MatchTime2,
            case when sc.MatchState in('-10','-11','-12','-13','-14') then '9'
                when sc.MatchState in('4','5','-1') then '5'
                 when sc.MatchState in('0') then '4'
                 when sc.MatchState in('1','2','3') then '0'
            end as ord,
            case when sc.MatchState = '0' then '未' /*未开始*/
                 when sc.MatchState in('4','5') then '(完)' /*正在进行*/
                 when sc.MatchState = '2' then '中' /*中场*/
                 when sc.MatchState = '-1' then '完' /*完结*/
                 when sc.MatchState = '-14' then '推迟'/*推迟*/
                 when sc.MatchState = '-12' then '腰斩'/*腰斩*/
                 WHEN sc.MatchState = '-10' THEN '取消'
                 when sc.MatchState = '1' then '1'
                 when sc.MatchState = '3' then '3'
                 end as matchState,/*比赛状态*/
            case when	 sc.MatchState in ('1','2') then TIMESTAMPDIFF(MINUTE ,sc.MatchTime2,now(3))
                 when sc.MatchState =  '3' then TIMESTAMPDIFF(MINUTE ,sc.MatchTime2,now(3)) + 45
                 else '0'
                 end as makeTime,/*比赛进行分钟数*/
            goal.FirstGoal matchPankou,/*盘口*/
            sc.HomeHalfScore homeHalfScore,/*主队半场比分*/
            sc.GuestHalfScore guestHalfScore,/*客队半场比分*/
            sc.Home_Red homeReadCard,/*主队红牌*/
            sc.Guest_Red guestReadCard,/*客队红牌*/
            sc.Home_Yellow homeYlwCard,/*主队黄牌*/
            sc.Guest_Yellow guestYlwCard,/*客队黄牌*/
            case when t.Name_J is null then sc.HomeTeam else t.Name_J end as homeName,/*主队名称*/
            case when t2.Name_J is null then sc.guestTeam else t2.Name_J end as guestName,/*客队名称*/
            sc.HomeScore homeScore,/*主队比分*/
            sc.GuestScore guestScore,/*客队比分*/
            sc.ScheduleID matchId,/*比赛id*/
            lottery.ISSUE_NUM num,/*期数场次*/
            lottery.NO_ID number,/*期数场次*/
            1 iscollect,/*是否收藏*/
            case when pg.type = '1' then '1'
                 when pg.type = '2' then '2'
                 when pg.type = '3' then '3'
                 when pg.type = '4' then '4'
                 when pg.type = '5' then '5'
                 end as 'matchtype',
            case when pg.type = '1' then 'JCZQ'
                 when pg.type = '2' then 'BJDC'
                 when pg.type = '3' then 'SF14'
                 end as 'Matchty',
			lottery.LOTTERY lotterType,
			(SELECT count(*) from tb_jc_match m
                left join tb_jc_plan p on m.plan_id = p.id
                left join tb_jc_expert e  on p.ascription_expert = e.id
                       left join jc_schedule ss on m.match_id = ss.ScheduleID
                where m.match_id=sc.ScheduleID and e.is_upshelf = '1' and m.match_num = ss.MatchID) recommendCount
            ,(select case when Single101='1' then '1'
                when Single105='1'  then '1' end from jc_schedule where scheduleid=sc.ScheduleID) isSingle
            from schedule  sc
            LEFT JOIN sclass class ON sc.SclassID = class.sclassID
            LEFT JOIN letgoal goal ON sc.ScheduleID = goal.ScheduleID and goal.CompanyID = '8'
            LEFT JOIN team t ON sc.HomeTeamID = t.TeamID
            LEFT JOIN team t2 ON sc.GuestTeamID = t2.TeamID
            LEFT JOIN jc_match_lottery lottery ON sc.ScheduleID = lottery.ID_BET007
            LEFT JOIN tb_pg_u_collect pg ON sc.ScheduleID = pg.match_id
            WHERE pg.status = '1' and pg.user_id = #{userId} and pg.over_time <![CDATA[>=]]> now()
            GROUP BY sc.ScheduleID
            ORDER BY sc.MatchTime
            ) b ORDER BY abs(b.ord) asc,b.MatchTime asc,matchid asc
    </select>

    <select id="selectMatchIdExceedNow" resultType="java.lang.Integer">
        select ScheduleID from schedule cf where cf.MatchTime > now()
    </select>
    <select id="queryList" resultType="com.zhcdata.jc.dto.DrawNoResult">
        SELECT
        *
        FROM
        (
        (
        SELECT
        lottery.ISSUE_NUM drawno
        FROM
        SCHEDULE sc
        LEFT JOIN jc_match_lottery lottery ON sc.ScheduleID  = lottery.ID_BET007
        WHERE
        sc.MatchTime <![CDATA[<]]> now()
        AND sc.MatchState = '-1'
        AND lottery.LOTTERY = 'SF14'
        GROUP BY
        drawno
        ORDER BY
        drawno DESC
        LIMIT 10
        ) UNION
        (
        SELECT
        lottery.ISSUE_NUM drawno
        FROM
        SCHEDULE sc
        LEFT JOIN jc_match_lottery lottery ON  sc.ScheduleID  = lottery.ID_BET007
        WHERE
        sc.MatchTime > now()
        AND lottery.LOTTERY = 'SF14'
        GROUP BY
        drawno
        )
        ) a
        ORDER BY
        drawno ASC
    </select>

    <select id="queryIssueList" resultType="com.zhcdata.jc.dto.DrawNoResult">
        select * from(
        SELECT
        ISSUE_NUM drawno
        FROM jc_match_lottery where ISSUE_NUM&lt;#{issue} AND LOTTERY = 'SF14' GROUP BY drawno desc LIMIT 10
        ) a GROUP BY drawno asc
    </select>

    <select id="selectIconAndTime" resultType="com.zhcdata.jc.dto.IconAndTimeDto" parameterType="java.lang.Integer">
       select
        sc.MatchTime time,
        t1.Flag homeImg,
        t2.Flag guestImg,
        t1.TeamID homeId,
        t2.TeamID guestId
        from schedule sc
        LEFT JOIN team t1 ON sc.HomeTeamID = t1.TeamID
        LEFT JOIN team t2 ON sc.GuestTeamID = t2.TeamID
        where sc.ScheduleID = #{matchId}
    </select>
    <select id="selectStatusChangedToday" resultType="com.zhcdata.db.model.Schedule">
        SELECT * from `schedule` where MatchTime >= #{sat} and MatchTime &lt;= #{end}
    </select>
    <select id="quertMatchInfo" resultType="com.zhcdata.jc.dto.MatchInfoForBdDto">
        SELECT
        t1.Name_J homeTeam,
        t2.Name_J guestTeam,
        l.ISSUE_NUM issueNum,
        s.Name_JS className,
        sc.MatchTime dateOfMatch
        from `schedule` sc
        LEFT JOIN jc_match_lottery l on sc.ScheduleID = l.ID_BET007 and l.LOTTERY = 'BJDC'
        LEFT JOIN sclass s on sc.SclassID = s.sclassID
        LEFT JOIN team t1 on sc.HomeTeamID = t1.TeamID
        LEFT JOIN team t2 on sc.GuestTeamID = t2.TeamID
        where sc.ScheduleID = #{matchId}
    </select>

    <select id="selectByStatusInTime" resultType="com.zhcdata.db.model.Schedule">
        select * from schedule where MatchState = #{status} and MatchTime > #{sat} and MatchTime &lt; #{end}
    </select>

    <!--后N期足彩-->
    <select id="selectNextIssueNum" resultType="com.zhcdata.db.model.JcMatchLottery">
        (SELECT * from (
        SELECT  lottery.ISSUE_NUM issueNum from  jc_match_lottery lottery
        LEFT JOIN `schedule` sc on lottery.ID_BET007=sc.scheduleID
        where  lottery.LOTTERY = 'SF14' and sc.MatchTime>now() GROUP BY issue_num
        ) a ORDER BY issueNum asc)
    </select>

    <!--前10期足彩-->
    <select id="selectLastIssueNum" resultType="com.zhcdata.db.model.JcMatchLottery">
        <if test="issueNum!=null ">
            SELECT * from (
            SELECT * from (
            SELECT lottery.ISSUE_NUM issueNum from  jc_match_lottery lottery
            LEFT JOIN `schedule` sc on lottery.ID_BET007=sc.scheduleID
            where  lottery.LOTTERY = 'SF14' and lottery.ISSUE_NUM&lt;#{issueNum} GROUP BY issue_num
            ) a ORDER BY issueNum desc LIMIT 10
            ) b ORDER BY issueNum asc
        </if>
        <if test="issueNum==null ">
            SELECT * from (
            SELECT * from (
            SELECT lottery.ISSUE_NUM issueNum from  jc_match_lottery lottery
            LEFT JOIN `schedule` sc on lottery.ID_BET007=sc.scheduleID
            where  lottery.LOTTERY = 'SF14' and sc.MatchTime&lt;now() GROUP BY issue_num
            ) a ORDER BY issueNum DESC LIMIT 10
            ) b ORDER BY issueNum asc
        </if>
    </select>

    <!--查当前时间之前的足彩期次，是否有未结束的-->
    <select id="selectNoFinishMatch" resultType="com.zhcdata.jc.dto.MatchResult1">
        SELECT scheduleID matchId from `schedule` where scheduleID in(
        SELECT ID_BET007 from jc_match_lottery  where issue_num=
        (SELECT * from (
        SELECT lottery.ISSUE_NUM issueNum from  jc_match_lottery lottery
        LEFT JOIN `schedule` sc on lottery.ID_BET007=sc.scheduleID
        where  lottery.LOTTERY = 'SF14' and sc.MatchTime&lt;now() GROUP BY issue_num
        ) a ORDER BY issueNum DESC LIMIT 1) and lottery='SF14') and MatchState!=-1
    </select>

    <select id="selectNowIssueNum" resultType="com.zhcdata.jc.dto.MatchResult1">
        SELECT * from (
        SELECT lottery.ISSUE_NUM num from  jc_match_lottery lottery
        LEFT JOIN `schedule` sc on lottery.ID_BET007=sc.scheduleID
        where  lottery.LOTTERY = 'SF14' and sc.MatchTime&lt;now() GROUP BY num
        ) a ORDER BY num DESC LIMIT 1
    </select>

    <select id="queryMatchByStatus" resultType="com.zhcdata.db.model.Schedule">
        select * from schedule sc where sc.MatchState in ('1','2','3','4','5')
    </select>
    <select id="queryLastNoCupMatchByTeam" resultType="com.zhcdata.db.model.Schedule">
        SELECT s.* from `schedule` s left join sclass ss on s.sclassID = ss.sclassID
         where ss.kind = 1 and (s.homeTeamId=#{teamId} or s.guestTeamId=#{teamId}) and s.matchTime &lt; #{date} ORDER BY s.matchTime desc LIMIT 1
    </select>

    <!--根据日期查询当日的竞彩、北单、足彩-->
    <select id="queryMatchType" resultType="com.zhcdata.jc.dto.MatchResult1">
        SELECT scheduleID matchId,lottery matchType,issue_num drawno from `schedule` sc LEFT JOIN jc_match_lottery lottery on sc.scheduleID=lottery.ID_BET007 where sc.matchTime>#{matchTime} and sc.matchTime&lt;DATE_ADD(#{matchTime},INTERVAL 1 DAY)
        and lottery.lottery in('JCZQ','BJDC','SF14')
    </select>

    <!--根据时间查询最大的足彩期次-->
    <select id="queryIssueByMatchTime" resultType="com.zhcdata.jc.dto.MatchResult1">
        SELECT issue_num drawno from `schedule` sc
        LEFT JOIN jc_match_lottery lottery on sc.scheduleID=lottery.ID_BET007
        where sc.matchTime>#{s} and sc.matchTime&lt;#{e}
        and lottery.lottery='SF14' ORDER BY drawno desc LIMIT 1
    </select>
</mapper>