<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcdata.db.mapper.ScheduleMapper">

    <!--  <resultMap id="ResultMapWithBLOBs" type="com.zhcw.model.Schedule" extends="BaseResultMap" >-->
    <!--    <result column="Explain" property="explain" jdbcType="LONGVARCHAR" />-->
    <!--  </resultMap>-->
    <sql id="Base_Column_List">
    ScheduleID, SclassID, MatchSeason, round, grouping, HomeTeamID, GuestTeamID, HomeTeam, 
    GuestTeam, Neutrality, MatchTime, MatchTime2, Location, Home_Order, Guest_Order, 
    MatchState, WeatherIcon, Weather, Temperature, TV, Umpire, Visitor, HomeScore, GuestScore, 
    HomeHalfScore, GuestHalfScore, Home_Red, Guest_Red, Home_Yellow, Guest_Yellow, bf_changetime, 
    shangpan, grouping2, bfShow, subSclassID, Explainlist, VenuesID, isGuessRed, isLive, 
    homeCorner, homeCornerHalf, guestCorner, guestCornerHalf
  </sql>

    <sql id="Blob_Column_List">
    Explain
  </sql>

    <select id="selectByPrimaryKey" resultType="com.zhcdata.db.model.Schedule" parameterType="java.lang.Integer">
    select 
    *
    from schedule
    where ScheduleID = #{scheduleid}
  </select>
    <select id="selectPastAndFutureNoEnd" resultType="com.zhcdata.db.model.Schedule">
    select * from schedule where MatchTime > #{past} and matchTime &lt; #{future} and MatchState != #{i}
  </select>

    <select id="selectScheduleIdByDate" resultType="java.lang.Integer">
    select ScheduleID from schedule WHERE
    matchState = 0
    and matchTime <![CDATA[>= ]]>date(date_sub(now() ,interval #{before} day))
    and matchTime <![CDATA[<=]]> date(date_add(now() ,interval #{after} day))
  </select>

    <select id="selectScheduleIdByTime" resultType="java.lang.Integer">
    select ScheduleID from schedule WHERE
    matchState = 0
    and matchTime <![CDATA[>= ]]>date_sub(now() ,interval #{before} day)
    and matchTime <![CDATA[<=]]> date_add(now() ,interval #{after} day)
  </select>
    <select id="selectOddsResultsByMatchId" resultType="com.zhcdata.jc.dto.HandicapOddsResult">
        <if test="type == 1">
            /* 欧赔 */
            select c.CompanyId opId,c.Name_Cn opName,l.FirstHomeWin opSatWin,l.FirstStandoff opSatFlat,l.FirstGuestwin
            opStaLose,IFNULL(l.RealHomeWin,l.FirstHomeWin) opNowWin,IFNULL(l.RealStandoff,l.FirstStandoff)
            opNowFlat,IFNULL(l.RealGuestWin,l.FirstGuestwin) opNowLose from europeodds l LEFT JOIN europecompany c on
            l.CompanyId = c.CompanyId WHERE l.ScheduleID = #{matchId}
            AND c.CompanyID in (16,80,81,82,90,104,115,158,255,281,545,1129)
        </if>
        <if test="type == 2">
            /* 亚盘 */
            SELECT c.CompanyId opId,c.Name_Cn opName,l.FirstUpodds opSatWin,l.FirstGoal opSatFlat,l.FirstDownodds
            opStaLose,l.Upodds_Real opNowWin,l.Goal_Real opNowFlat,l.Downodds_Real opNowLose from letgoal l LEFT JOIN
            company c on l.CompanyId = c.CompanyId WHERE l.ScheduleID = #{matchId}
            AND c.CompanyID in (1,3,8,12,17,23,24,31)
        </if>
        <if test="type == 3">
            /* 大小球 */
            SELECT c.CompanyId opId,c.Name_Cn opName,l.FirstUpodds opSatWin,l.FirstGoal opSatFlat,l.FirstDownodds
            opStaLose,l.Upodds_Real opNowWin,l.Goal_Real opNowFlat,l.Downodds_Real opNowLose from TotalScore l LEFT JOIN
            company c on l.CompanyId = c.CompanyId WHERE l.ScheduleID = #{matchId}
            AND c.CompanyID in (1,3,8,12,17,23,24,31)
        </if>

    </select>
    <select id="selectOddsResultDetailByMatchId" resultType="com.zhcdata.jc.dto.HandicapOddsDetailsResult">
        <if test="type == 1">
            /* 欧赔 */
            select ModifyTime oddTime,HomeWin oddWin,Standoff oddFlat,GuestWin oddLose from europeoddsdetail l WHERE
            l.oddsid = (select oddsid from europeodds where
            ScheduleID = #{matchId}
            AND CompanyID = #{companyId}) ORDER BY oddTime asc
        </if>
        <if test="type == 2">
            /* 亚盘 */
            select ModifyTime oddTime,upOdds oddWin,Goal oddFlat,downOdds oddLose from letgoaldetail l WHERE
            l.oddsid = (select oddsid from letgoal where
            ScheduleID = #{matchId}
            AND CompanyID = #{companyId}) ORDER BY oddTime asc
        </if>
        <if test="type == 3">
            /* 大小球 */
            select ModifyTime oddTime,upOdds oddWin,Goal oddFlat,downOdds oddLose from totalscoredetail l WHERE
            l.oddsid = (select oddsid from TotalScore where
            ScheduleID = #{matchId}
            AND CompanyID = #{companyId}) ORDER BY oddTime asc
        </if>
    </select>
    <select id="selectNearlyMatchData" resultType="com.zhcdata.jc.dto.IntegralRankingDto">
    select t2.matchCount,t2.winCount,t2.flatCount,t2.loseCount,t2.goal,t2.lost,(winCount*3+flatCount) score,(t2.goal-t2.lost) goalDiff from (
    SELECT
    count(Scheduleid) matchCount,
    sum(case when hometeamid = #{teamId} and homescore>guestscore then 1
    when guestteamid =  #{teamId} and homescore <![CDATA[ < ]]> guestscore then 1 else 0 END)  winCount,
    sum(case when homescore = guestscore then 1 else 0 END) flatCount,
    sum(case when hometeamid =  #{teamId} and homescore <![CDATA[ < ]]> guestscore then 1
    when guestteamid =  #{teamId} and homescore > guestscore then 1 else 0 END) loseCount,
    sum(case when hometeamid =  #{teamId} then homescore else guestscore END) goal,
    sum(case when hometeamid =  #{teamId} then guestscore else homescore end) lost
    FROM(
    SELECT * from schedule where matchState = -1
              AND matchtime <![CDATA[<]]> #{matchTime}
     AND (hometeamid = #{teamId} or guestteamid = #{teamId})
     order by matchtime desc limit #{count}) t
    )t2
  </select>
    <select id="selectHistoryMatchByTeam" resultType="com.zhcdata.jc.dto.HistoryMatchDto">
        SELECT
            matchtime matchDate,
            sc.name_js matchName,
            t.name_j homeName,
            s.homescore hostScore,
            s.homehalfscore hostHalfScore,
            t2.name_j guestName,
            s.guestscore guestScore,
            s.guesthalfscore guestHalfScore,
            CASE WHEN s.hometeamid = #{teamId} THEN 1 ELSE 2 END panlu
        FROM
            schedule s
        LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
        LEFT JOIN team t ON s.hometeamid = t.teamid
        LEFT JOIN team t2 ON s.guestteamid = t2.teamid
        WHERE
            matchState = -1
          AND matchtime <![CDATA[<]]> #{matchTime}
        <if test="type == 1">
            AND hometeamid = #{teamId}
        </if>
        <if test="type == 2">
            AND guestteamid = #{teamId}
        </if>
        <if test="type != 2 and type != 1">
            AND (hometeamid = #{teamId} or guestteamid = #{teamId})
        </if>
        <if test="sclassId != null">
            AND s.sclassid = #{sclassId}
        </if>
        ORDER BY
            matchtime DESC
        LIMIT #{count}
    </select>

    <select id="selectHistoryMatchByTwoTeam" resultType="com.zhcdata.jc.dto.HistoryMatchDto">
        SELECT
        matchtime matchDate,
        sc.name_js matchName,
        t.name_j homeName,
        s.homescore hostScore,
        s.homehalfscore hostHalfScore,
        t2.name_j guestName,
        s.guestscore guestScore,
        s.guesthalfscore guestHalfScore,
        CASE WHEN s.hometeamid = #{homeTeamId} THEN 1 ELSE 2 END panlu
        FROM
        schedule s
        LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
        LEFT JOIN team t ON s.hometeamid = t.teamid
        LEFT JOIN team t2 ON s.guestteamid = t2.teamid
        WHERE
        matchState = -1
        AND matchtime <![CDATA[<]]> #{matchTime}
        <if test="type == 1">
            AND hometeamid = #{homeTeamId}
            AND guestteamid = #{guestTeamId}
        </if>
        <if test="type == null">
            AND (hometeamid = #{homeTeamId} or guestteamid = #{homeTeamId})
            AND (hometeamid = #{guestTeamId} or guestteamid = #{guestTeamId})
        </if>
        ORDER BY
        matchtime DESC
        LIMIT #{count}
    </select>
    <select id="selectMatchAndOdds" resultType="com.zhcdata.jc.dto.SameOddsDto">

        select t.lotteryType,t.issueNum,t.noId,
        t.matchId,t.matchName,t.matchState,t.matchTime1,t.matchTime2,t.homeName,t.homeScore,t.homeHalfScore,t.guestName,t.guestScore,t.guestHalfScore,
        t.homeRedCard,t.guestRedCard,t.homeYlwCard,t.guestYlwCard,
        o.FirstHomeWin tpeiWinHandicap,
        o.FirstStandoff tpeiFlatHandicap,
        o.FirstGuestWin tpeilLoseHandicap,
        case when o.FirstHomeWin <![CDATA[<]]> o.FirstGuestWin then 0
        else 1 end flag,
        case when o.FirstHomeWin <![CDATA[<]]> o.FirstGuestWin then
        (case when o.FirstHomeWin <![CDATA[<]]> o.RealHomeWin then 1 else -1 end)
        else
        (case when o.FirstGuestWin <![CDATA[<]]> o.RealGuestWin then 1 else -1 end) end trend,
        l.FirstGoal from (
        SELECT
        CASE l.lottery WHEN 'JCZQ' THEN '1' WHEN 'BJDC' THEN '2' WHEN 'SF14' THEN '3' ELSE '4' END lotteryType,
        l.issue_num issueNum,
        l.no_id noId,
        sc.name_js matchName,
        s.matchTime matchTime1,
        s.matchTime2 matchTime2,
        t.name_j homeName,
        s.homescore homeScore,
        s.homehalfscore homeHalfScore,
        t2.name_j guestName,
        s.guestscore guestScore,
        s.guesthalfscore guestHalfScore,
        s.home_red homeRedCard,
        s.guest_red guestRedCard,
        s.home_yellow homeYlwCard,
        s.guest_yellow guestYlwCard,
        s.scheduleid matchId,
        s.matchstate matchState
        FROM SCHEDULE s
        LEFT JOIN sclass sc ON s.sclassid = sc.sclassid
        LEFT JOIN team t ON s.hometeamid = t.teamid
        LEFT JOIN team t2 ON s.guestteamid = t2.teamid
        LEFT JOIN jc_match_lottery l ON s.scheduleid = l.ID_BET007
        WHERE
        1 = 1
        AND s.matchtime >= concat(#{date},' 11:00:00') AND s.matchtime <![CDATA[<]]> concat(DATE_ADD(#{date},INTERVAL 2 DAY),' 11:00:00')
        GROUP BY
        scheduleid
        ) t left join europeodds o on t.matchId = o.scheduleid and o.companyid = 281
        left join letgoal l on t.matchId = l.scheduleid and l.companyid = 8
        where 1=1
        and o.RealHomeWin is not NULL and o.FirstHomeWin != o.RealHomeWin
    </select>
    <select id="selectSameOddsStatistic" resultType="com.zhcdata.jc.dto.SameOddsStatisticDto">
        select
        count(s.ScheduleID) total,
        sum(case when s.HomeScore>s.GuestScore then 1 else 0 end) win,
        sum(case when s.HomeScore=s.GuestScore then 1 else 0 end) flat,
        sum(case when s.HomeScore<![CDATA[<]]>s.GuestScore then 1 else 0 end) lose,
        sum(case when s.HomeScore-(#{firstGoal})>s.GuestScore then 1 else 0 end) winp,
        sum(case when s.HomeScore-(#{firstGoal})=s.GuestScore then 1 else 0 end) flatp,
        sum(case when s.HomeScore-(#{firstGoal})<![CDATA[<]]>s.GuestScore then 1 else 0 end) losep
        from europeodds e left join SCHEDULE s on e.ScheduleID = s.ScheduleID where e.FirstHomeWin = #{winOdds}
        and e.FirstGuestWin = #{loseOdds} and e.FirstStandoff = #{loseOdds}
        <if test="flag == 0">
            <if test="trend == 1">
                and e.RealHomeWin > e.FirstHomeWin
            </if>
            <if test="trend == -1">
                and e.FirstHomeWin > e.RealHomeWin
            </if>
        </if>
        <if test="flag == 1">
            <if test="trend == 1">
                and e.RealGuestWin > e.FirstGuestWin
            </if>
            <if test="trend == -1">
                and e.FirstGuestWin > e.RealGuestWin
            </if>
        </if>
         limit 200
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from schedule
    where ScheduleID = #{scheduleid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zhcdata.db.model.Schedule" >
    insert into schedule (ScheduleID, SclassID, MatchSeason, 
      round, grouping, HomeTeamID, 
      GuestTeamID, HomeTeam, GuestTeam, 
      Neutrality, MatchTime, MatchTime2, 
      Location, Home_Order, Guest_Order, 
      MatchState, WeatherIcon, Weather, 
      Temperature, TV, Umpire, 
      Visitor, HomeScore, GuestScore, 
      HomeHalfScore, GuestHalfScore, Home_Red, 
      Guest_Red, Home_Yellow, Guest_Yellow, 
      bf_changetime, shangpan, grouping2, 
      bfShow, subSclassID, Explainlist, 
      VenuesID, isGuessRed, isLive, 
      homeCorner, homeCornerHalf, guestCorner, 
      guestCornerHalf, Explain)
    values (#{scheduleid,jdbcType=INTEGER}, #{sclassid,jdbcType=INTEGER}, #{matchseason,jdbcType=CHAR}, 
      #{round,jdbcType=SMALLINT}, #{grouping,jdbcType=CHAR}, #{hometeamid,jdbcType=INTEGER}, 
      #{guestteamid,jdbcType=INTEGER}, #{hometeam,jdbcType=CHAR}, #{guestteam,jdbcType=CHAR}, 
      #{neutrality,jdbcType=BIT}, #{matchtime,jdbcType=TIMESTAMP}, #{matchtime2,jdbcType=TIMESTAMP}, 
      #{location,jdbcType=VARCHAR}, #{homeOrder,jdbcType=CHAR}, #{guestOrder,jdbcType=CHAR}, 
      #{matchstate,jdbcType=SMALLINT}, #{weathericon,jdbcType=SMALLINT}, #{weather,jdbcType=CHAR}, 
      #{temperature,jdbcType=CHAR}, #{tv,jdbcType=VARCHAR}, #{umpire,jdbcType=CHAR}, 
      #{visitor,jdbcType=INTEGER}, #{homescore,jdbcType=SMALLINT}, #{guestscore,jdbcType=SMALLINT}, 
      #{homehalfscore,jdbcType=SMALLINT}, #{guesthalfscore,jdbcType=SMALLINT}, #{homeRed,jdbcType=SMALLINT}, 
      #{guestRed,jdbcType=SMALLINT}, #{homeYellow,jdbcType=SMALLINT}, #{guestYellow,jdbcType=SMALLINT}, 
      #{bfChangetime,jdbcType=TIMESTAMP}, #{shangpan,jdbcType=INTEGER}, #{grouping2,jdbcType=CHAR}, 
      #{bfshow,jdbcType=BIT}, #{subsclassid,jdbcType=INTEGER}, #{explainlist,jdbcType=VARCHAR}, 
      #{venuesid,jdbcType=INTEGER}, #{isguessred,jdbcType=BIT}, #{islive,jdbcType=BIT}, 
      #{homecorner,jdbcType=INTEGER}, #{homecornerhalf,jdbcType=INTEGER}, #{guestcorner,jdbcType=INTEGER}, 
      #{guestcornerhalf,jdbcType=INTEGER}, #{explain,jdbcType=LONGVARCHAR})
  </insert>


  <insert id="insertSelective" parameterType="com.zhcdata.db.model.Schedule" >
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scheduleid != null" >
        ScheduleID,
      </if>
      <if test="sclassid != null" >
        SclassID,
      </if>
      <if test="matchseason != null" >
        MatchSeason,
      </if>
      <if test="round != null" >
        round,
      </if>
      <if test="grouping != null" >
        grouping,
      </if>
      <if test="hometeamid != null" >
        HomeTeamID,
      </if>
      <if test="guestteamid != null" >
        GuestTeamID,
      </if>
      <if test="hometeam != null" >
        HomeTeam,
      </if>
      <if test="guestteam != null" >
        GuestTeam,
      </if>
      <if test="neutrality != null" >
        Neutrality,
      </if>
      <if test="matchtime != null" >
        MatchTime,
      </if>
      <if test="matchtime2 != null" >
        MatchTime2,
      </if>
      <if test="location != null" >
        Location,
      </if>
      <if test="homeOrder != null" >
        Home_Order,
      </if>
      <if test="guestOrder != null" >
        Guest_Order,
      </if>
      <if test="matchstate != null" >
        MatchState,
      </if>
      <if test="weathericon != null" >
        WeatherIcon,
      </if>
      <if test="weather != null" >
        Weather,
      </if>
      <if test="temperature != null" >
        Temperature,
      </if>
      <if test="tv != null" >
        TV,
      </if>
      <if test="umpire != null" >
        Umpire,
      </if>
      <if test="visitor != null" >
        Visitor,
      </if>
      <if test="homescore != null" >
        HomeScore,
      </if>
      <if test="guestscore != null" >
        GuestScore,
      </if>
      <if test="homehalfscore != null" >
        HomeHalfScore,
      </if>
      <if test="guesthalfscore != null" >
        GuestHalfScore,
      </if>
      <if test="homeRed != null" >
        Home_Red,
      </if>
      <if test="guestRed != null" >
        Guest_Red,
      </if>
      <if test="homeYellow != null" >
        Home_Yellow,
      </if>
      <if test="guestYellow != null" >
        Guest_Yellow,
      </if>
      <if test="bfChangetime != null" >
        bf_changetime,
      </if>
      <if test="shangpan != null" >
        shangpan,
      </if>
      <if test="grouping2 != null" >
        grouping2,
      </if>
      <if test="bfshow != null" >
        bfShow,
      </if>
      <if test="subsclassid != null" >
        subSclassID,
      </if>
      <if test="explainlist != null" >
        Explainlist,
      </if>
      <if test="venuesid != null" >
        VenuesID,
      </if>
      <if test="isguessred != null" >
        isGuessRed,
      </if>
      <if test="islive != null" >
        isLive,
      </if>
      <if test="homecorner != null" >
        homeCorner,
      </if>
      <if test="homecornerhalf != null" >
        homeCornerHalf,
      </if>
      <if test="guestcorner != null" >
        guestCorner,
      </if>
      <if test="guestcornerhalf != null" >
        guestCornerHalf,
      </if>
      <if test="explain != null" >
        Explain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scheduleid != null" >
        #{scheduleid,jdbcType=INTEGER},
      </if>
      <if test="sclassid != null" >
        #{sclassid,jdbcType=INTEGER},
      </if>
      <if test="matchseason != null" >
        #{matchseason,jdbcType=CHAR},
      </if>
      <if test="round != null" >
        #{round,jdbcType=SMALLINT},
      </if>
      <if test="grouping != null" >
        #{grouping,jdbcType=CHAR},
      </if>
      <if test="hometeamid != null" >
        #{hometeamid,jdbcType=INTEGER},
      </if>
      <if test="guestteamid != null" >
        #{guestteamid,jdbcType=INTEGER},
      </if>
      <if test="hometeam != null" >
        #{hometeam,jdbcType=CHAR},
      </if>
      <if test="guestteam != null" >
        #{guestteam,jdbcType=CHAR},
      </if>
      <if test="neutrality != null" >
        #{neutrality,jdbcType=BIT},
      </if>
      <if test="matchtime != null" >
        #{matchtime,jdbcType=TIMESTAMP},
      </if>
      <if test="matchtime2 != null" >
        #{matchtime2,jdbcType=TIMESTAMP},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="homeOrder != null" >
        #{homeOrder,jdbcType=CHAR},
      </if>
      <if test="guestOrder != null" >
        #{guestOrder,jdbcType=CHAR},
      </if>
      <if test="matchstate != null" >
        #{matchstate,jdbcType=SMALLINT},
      </if>
      <if test="weathericon != null" >
        #{weathericon,jdbcType=SMALLINT},
      </if>
      <if test="weather != null" >
        #{weather,jdbcType=CHAR},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=CHAR},
      </if>
      <if test="tv != null" >
        #{tv,jdbcType=VARCHAR},
      </if>
      <if test="umpire != null" >
        #{umpire,jdbcType=CHAR},
      </if>
      <if test="visitor != null" >
        #{visitor,jdbcType=INTEGER},
      </if>
      <if test="homescore != null" >
        #{homescore,jdbcType=SMALLINT},
      </if>
      <if test="guestscore != null" >
        #{guestscore,jdbcType=SMALLINT},
      </if>
      <if test="homehalfscore != null" >
        #{homehalfscore,jdbcType=SMALLINT},
      </if>
      <if test="guesthalfscore != null" >
        #{guesthalfscore,jdbcType=SMALLINT},
      </if>
      <if test="homeRed != null" >
        #{homeRed,jdbcType=SMALLINT},
      </if>
      <if test="guestRed != null" >
        #{guestRed,jdbcType=SMALLINT},
      </if>
      <if test="homeYellow != null" >
        #{homeYellow,jdbcType=SMALLINT},
      </if>
      <if test="guestYellow != null" >
        #{guestYellow,jdbcType=SMALLINT},
      </if>
      <if test="bfChangetime != null" >
        #{bfChangetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shangpan != null" >
        #{shangpan,jdbcType=INTEGER},
      </if>
      <if test="grouping2 != null" >
        #{grouping2,jdbcType=CHAR},
      </if>
      <if test="bfshow != null" >
        #{bfshow,jdbcType=BIT},
      </if>
      <if test="subsclassid != null" >
        #{subsclassid,jdbcType=INTEGER},
      </if>
      <if test="explainlist != null" >
        #{explainlist,jdbcType=VARCHAR},
      </if>
      <if test="venuesid != null" >
        #{venuesid,jdbcType=INTEGER},
      </if>
      <if test="isguessred != null" >
        #{isguessred,jdbcType=BIT},
      </if>
      <if test="islive != null" >
        #{islive,jdbcType=BIT},
      </if>
      <if test="homecorner != null" >
        #{homecorner,jdbcType=INTEGER},
      </if>
      <if test="homecornerhalf != null" >
        #{homecornerhalf,jdbcType=INTEGER},
      </if>
      <if test="guestcorner != null" >
        #{guestcorner,jdbcType=INTEGER},
      </if>
      <if test="guestcornerhalf != null" >
        #{guestcornerhalf,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcdata.db.model.Schedule" >
    update schedule
    <set >
      <if test="sclassid != null" >
        SclassID = #{sclassid,jdbcType=INTEGER},
      </if>
      <if test="matchseason != null" >
        MatchSeason = #{matchseason,jdbcType=CHAR},
      </if>
      <if test="round != null" >
        round = #{round,jdbcType=SMALLINT},
      </if>
      <if test="grouping != null" >
        grouping = #{grouping,jdbcType=CHAR},
      </if>
      <if test="hometeamid != null" >
        HomeTeamID = #{hometeamid,jdbcType=INTEGER},
      </if>
      <if test="guestteamid != null" >
        GuestTeamID = #{guestteamid,jdbcType=INTEGER},
      </if>
      <if test="hometeam != null" >
        HomeTeam = #{hometeam,jdbcType=CHAR},
      </if>
      <if test="guestteam != null" >
        GuestTeam = #{guestteam,jdbcType=CHAR},
      </if>
      <if test="neutrality != null" >
        Neutrality = #{neutrality,jdbcType=BIT},
      </if>
      <if test="matchtime != null" >
        MatchTime = #{matchtime,jdbcType=TIMESTAMP},
      </if>
      <if test="matchtime2 != null" >
        MatchTime2 = #{matchtime2,jdbcType=TIMESTAMP},
      </if>
      <if test="location != null" >
        Location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="homeOrder != null" >
        Home_Order = #{homeOrder,jdbcType=CHAR},
      </if>
      <if test="guestOrder != null" >
        Guest_Order = #{guestOrder,jdbcType=CHAR},
      </if>
      <if test="matchstate != null" >
        MatchState = #{matchstate,jdbcType=SMALLINT},
      </if>
      <if test="weathericon != null" >
        WeatherIcon = #{weathericon,jdbcType=SMALLINT},
      </if>
      <if test="weather != null" >
        Weather = #{weather,jdbcType=CHAR},
      </if>
      <if test="temperature != null" >
        Temperature = #{temperature,jdbcType=CHAR},
      </if>
      <if test="tv != null" >
        TV = #{tv,jdbcType=VARCHAR},
      </if>
      <if test="umpire != null" >
        Umpire = #{umpire,jdbcType=CHAR},
      </if>
      <if test="visitor != null" >
        Visitor = #{visitor,jdbcType=INTEGER},
      </if>
      <if test="homescore != null" >
        HomeScore = #{homescore,jdbcType=SMALLINT},
      </if>
      <if test="guestscore != null" >
        GuestScore = #{guestscore,jdbcType=SMALLINT},
      </if>
      <if test="homehalfscore != null" >
        HomeHalfScore = #{homehalfscore,jdbcType=SMALLINT},
      </if>
      <if test="guesthalfscore != null" >
        GuestHalfScore = #{guesthalfscore,jdbcType=SMALLINT},
      </if>
      <if test="homeRed != null" >
        Home_Red = #{homeRed,jdbcType=SMALLINT},
      </if>
      <if test="guestRed != null" >
        Guest_Red = #{guestRed,jdbcType=SMALLINT},
      </if>
      <if test="homeYellow != null" >
        Home_Yellow = #{homeYellow,jdbcType=SMALLINT},
      </if>
      <if test="guestYellow != null" >
        Guest_Yellow = #{guestYellow,jdbcType=SMALLINT},
      </if>
      <if test="bfChangetime != null" >
        bf_changetime = #{bfChangetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shangpan != null" >
        shangpan = #{shangpan,jdbcType=INTEGER},
      </if>
      <if test="grouping2 != null" >
        grouping2 = #{grouping2,jdbcType=CHAR},
      </if>
      <if test="bfshow != null" >
        bfShow = #{bfshow,jdbcType=BIT},
      </if>
      <if test="subsclassid != null" >
        subSclassID = #{subsclassid,jdbcType=INTEGER},
      </if>
      <if test="explainlist != null" >
        Explainlist = #{explainlist,jdbcType=VARCHAR},
      </if>
      <if test="venuesid != null" >
        VenuesID = #{venuesid,jdbcType=INTEGER},
      </if>
      <if test="isguessred != null" >
        isGuessRed = #{isguessred,jdbcType=BIT},
      </if>
      <if test="islive != null" >
        isLive = #{islive,jdbcType=BIT},
      </if>
      <if test="homecorner != null" >
        homeCorner = #{homecorner,jdbcType=INTEGER},
      </if>
      <if test="homecornerhalf != null" >
        homeCornerHalf = #{homecornerhalf,jdbcType=INTEGER},
      </if>
      <if test="guestcorner != null" >
        guestCorner = #{guestcorner,jdbcType=INTEGER},
      </if>
      <if test="guestcornerhalf != null" >
        guestCornerHalf = #{guestcornerhalf,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        Explain = #{explain,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ScheduleID = #{scheduleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhcdata.db.model.Schedule" >
    update schedule
    set SclassID = #{sclassid,jdbcType=INTEGER},
      MatchSeason = #{matchseason,jdbcType=CHAR},
      round = #{round,jdbcType=SMALLINT},
      grouping = #{grouping,jdbcType=CHAR},
      HomeTeamID = #{hometeamid,jdbcType=INTEGER},
      GuestTeamID = #{guestteamid,jdbcType=INTEGER},
      HomeTeam = #{hometeam,jdbcType=CHAR},
      GuestTeam = #{guestteam,jdbcType=CHAR},
      Neutrality = #{neutrality,jdbcType=BIT},
      MatchTime = #{matchtime,jdbcType=TIMESTAMP},
      MatchTime2 = #{matchtime2,jdbcType=TIMESTAMP},
      Location = #{location,jdbcType=VARCHAR},
      Home_Order = #{homeOrder,jdbcType=CHAR},
      Guest_Order = #{guestOrder,jdbcType=CHAR},
      MatchState = #{matchstate,jdbcType=SMALLINT},
      WeatherIcon = #{weathericon,jdbcType=SMALLINT},
      Weather = #{weather,jdbcType=CHAR},
      Temperature = #{temperature,jdbcType=CHAR},
      TV = #{tv,jdbcType=VARCHAR},
      Umpire = #{umpire,jdbcType=CHAR},
      Visitor = #{visitor,jdbcType=INTEGER},
      HomeScore = #{homescore,jdbcType=SMALLINT},
      GuestScore = #{guestscore,jdbcType=SMALLINT},
      HomeHalfScore = #{homehalfscore,jdbcType=SMALLINT},
      GuestHalfScore = #{guesthalfscore,jdbcType=SMALLINT},
      Home_Red = #{homeRed,jdbcType=SMALLINT},
      Guest_Red = #{guestRed,jdbcType=SMALLINT},
      Home_Yellow = #{homeYellow,jdbcType=SMALLINT},
      Guest_Yellow = #{guestYellow,jdbcType=SMALLINT},
      bf_changetime = #{bfChangetime,jdbcType=TIMESTAMP},
      shangpan = #{shangpan,jdbcType=INTEGER},
      grouping2 = #{grouping2,jdbcType=CHAR},
      bfShow = #{bfshow,jdbcType=BIT},
      subSclassID = #{subsclassid,jdbcType=INTEGER},
      Explainlist = #{explainlist,jdbcType=VARCHAR},
      VenuesID = #{venuesid,jdbcType=INTEGER},
      isGuessRed = #{isguessred,jdbcType=BIT},
      isLive = #{islive,jdbcType=BIT},
      homeCorner = #{homecorner,jdbcType=INTEGER},
      homeCornerHalf = #{homecornerhalf,jdbcType=INTEGER},
      guestCorner = #{guestcorner,jdbcType=INTEGER},
      guestCornerHalf = #{guestcornerhalf,jdbcType=INTEGER},
      Explain = #{explain,jdbcType=LONGVARCHAR}
    where ScheduleID = #{scheduleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcdata.db.model.Schedule" >
    update schedule
    set SclassID = #{sclassid,jdbcType=INTEGER},
      MatchSeason = #{matchseason,jdbcType=CHAR},
      round = #{round,jdbcType=SMALLINT},
      grouping = #{grouping,jdbcType=CHAR},
      HomeTeamID = #{hometeamid,jdbcType=INTEGER},
      GuestTeamID = #{guestteamid,jdbcType=INTEGER},
      HomeTeam = #{hometeam,jdbcType=CHAR},
      GuestTeam = #{guestteam,jdbcType=CHAR},
      Neutrality = #{neutrality,jdbcType=BIT},
      MatchTime = #{matchtime,jdbcType=TIMESTAMP},
      MatchTime2 = #{matchtime2,jdbcType=TIMESTAMP},
      Location = #{location,jdbcType=VARCHAR},
      Home_Order = #{homeOrder,jdbcType=CHAR},
      Guest_Order = #{guestOrder,jdbcType=CHAR},
      MatchState = #{matchstate,jdbcType=SMALLINT},
      WeatherIcon = #{weathericon,jdbcType=SMALLINT},
      Weather = #{weather,jdbcType=CHAR},
      Temperature = #{temperature,jdbcType=CHAR},
      TV = #{tv,jdbcType=VARCHAR},
      Umpire = #{umpire,jdbcType=CHAR},
      Visitor = #{visitor,jdbcType=INTEGER},
      HomeScore = #{homescore,jdbcType=SMALLINT},
      GuestScore = #{guestscore,jdbcType=SMALLINT},
      HomeHalfScore = #{homehalfscore,jdbcType=SMALLINT},
      GuestHalfScore = #{guesthalfscore,jdbcType=SMALLINT},
      Home_Red = #{homeRed,jdbcType=SMALLINT},
      Guest_Red = #{guestRed,jdbcType=SMALLINT},
      Home_Yellow = #{homeYellow,jdbcType=SMALLINT},
      Guest_Yellow = #{guestYellow,jdbcType=SMALLINT},
      bf_changetime = #{bfChangetime,jdbcType=TIMESTAMP},
      shangpan = #{shangpan,jdbcType=INTEGER},
      grouping2 = #{grouping2,jdbcType=CHAR},
      bfShow = #{bfshow,jdbcType=BIT},
      subSclassID = #{subsclassid,jdbcType=INTEGER},
      Explainlist = #{explainlist,jdbcType=VARCHAR},
      VenuesID = #{venuesid,jdbcType=INTEGER},
      isGuessRed = #{isguessred,jdbcType=BIT},
      isLive = #{islive,jdbcType=BIT},
      homeCorner = #{homecorner,jdbcType=INTEGER},
      homeCornerHalf = #{homecornerhalf,jdbcType=INTEGER},
      guestCorner = #{guestcorner,jdbcType=INTEGER},
      guestCornerHalf = #{guestcornerhalf,jdbcType=INTEGER}
    where ScheduleID = #{scheduleid,jdbcType=INTEGER}
  </update>

    <update id="updateByScheduleID" parameterType="com.zhcdata.db.model.Schedule">
        update schedule set  homeCorner=#{homeCorner},
                              homeCornerHalf=#{homeCornerHalf},
                              guestCorner=#{guestCorner},
                              guestCornerHalf=#{guestCornerHalf}
        where ScheduleID=#{ScheduleID}
    </update>

    <select id="queryMacthListForJob" resultType="com.zhcdata.jc.dto.MatchResult1">
        select
        class.Name_JS matchName,/*联赛名称*/
        sc.MatchTime matchTime,/*开始时间*/
        case when sc.MatchState = '0' then '未开始' /*未开始*/
        when sc.MatchState in('1','3','4','5') then '正在进行' /*正在进行*/
        when sc.MatchState = '2' then '中场' /*中场*/
        when sc.MatchState = '-1' then '完结' /*完结*/
        when sc.MatchState = '-14' then '推迟'/*推迟*/
        when sc.MatchState = '-12' then '腰斩'/*腰斩*/
        end as matchState,/*比赛状态*/
        case when	 sc.MatchState in ('1','2') then TIMESTAMPDIFF(MINUTE ,sc.MatchTime2,now(3))
        when sc.MatchState =  '3' then TIMESTAMPDIFF(MINUTE ,sc.MatchTime2,now(3)) + 45
        else ''
        end as makeTime,/*比赛进行分钟数*/
        goal.FirstGoal matchPankou,/*盘口*/
        sc.HomeHalfScore homeHalfScore,/*主队半场比分*/
        sc.GuestHalfScore guestHalfScore,/*客队半场比分*/
        sc.Home_Red homeReadCard,/*主队红牌*/
        sc.Guest_Red guestReadCard,/*客队红牌*/
        sc.Home_Yellow homeYlwCard,/*主队黄牌*/
        sc.Guest_Yellow guestYlwCard,/*客队黄牌*/
        t.Name_J homeName,/*主队名称*/
        t2.Name_J guestName,/*客队名称*/
        sc.HomeScore homeScore,/*主队比分*/
        sc.GuestScore guestScore,/*客队比分*/
        sc.ScheduleID matchId,/*比赛id*/
        lottery.ISSUE_NUM num,/*期数场次*/
        lottery.NO_ID number,/*期数场次*/
        IFNULL(pg.status,'0') iscollect/*是否收藏*/
        from schedule  sc
        LEFT JOIN sclass class ON sc.SclassID = class.sclassID
        LEFT JOIN letgoal goal ON sc.ScheduleID = goal.ScheduleID and goal.CompanyID = '8'
        LEFT JOIN team t ON sc.HomeTeamID = t.TeamID
        LEFT JOIN team t2 ON sc.GuestTeamID = t2.TeamID
        LEFT JOIN jc_match_lottery lottery ON sc.ScheduleID = lottery.ID_BET007
        LEFT JOIN tb_pg_u_collect pg ON sc.ScheduleID = pg.match_id and pg.user_id = #{userId}
        where sc.MatchTime >= #{startTime} and sc.MatchTime  <![CDATA[ <= ]]> #{endTime}
        <if test="state == 1" >/*正在进行*/
            and sc.MatchState in ('1','2','3','4','5')
        </if>
        <if test="state == 2" >/*未开始*/
            and sc.MatchState = '0'
        </if>
        <if test="state == 3" >/*已结束*/
            and sc.MatchState = '-1'
        </if>
        <if test="type == 1" >/*竞彩*/
            and lottery.LOTTERY = 'JCZQ'
        </if>
        <if test="type == 2" >/*足彩*/
             and lottery.LOTTERY = 'JCZQ'
        </if>
        <if test="type == 3" >/*北单*/
             and lottery.LOTTERY = 'SF14'
        </if>
    </select>


    <select id="queryZcNum" resultType="String">
       SELECT max(lottery.ISSUE_NUM) from schedule  sc
       LEFT JOIN jc_match_lottery lottery ON sc.ScheduleID = lottery.ID_BET007 and lottery.LOTTERY = 'JCZQ'
       where sc.MatchTime >= #{startDate}
    </select>

    <select id="queryBdNum" resultType="String">
         SELECT lottery.ISSUE_NUM num from schedule  sc
       LEFT JOIN jc_match_lottery lottery ON sc.ScheduleID = lottery.ID_BET007 and lottery.LOTTERY = 'BJDC'
       where sc.MatchTime >= #{startDate} ORDER BY sc.MatchTime desc LIMIT 1
    </select>

    <select id="queryAttentionList" resultType="com.zhcdata.jc.dto.MatchResult1">
        select
            class.Name_JS matchName,/*联赛名称*/
            sc.MatchTime matchTime,/*开始时间*/
            case when sc.MatchState = '0' then '未开始' /*未开始*/
                 when sc.MatchState in('1','3','4','5') then '正在进行' /*正在进行*/
                 when sc.MatchState = '2' then '中场' /*中场*/
                 when sc.MatchState = '-1' then '完结' /*完结*/
                 when sc.MatchState = '-14' then '推迟'/*推迟*/
                 when sc.MatchState = '-12' then '腰斩'/*腰斩*/
                 end as matchState,/*比赛状态*/
            case when	 sc.MatchState in ('1','2') then TIMESTAMPDIFF(MINUTE ,sc.MatchTime2,now(3))
                 when sc.MatchState =  '3' then TIMESTAMPDIFF(MINUTE ,sc.MatchTime2,now(3)) + 45
                 else '0'
                 end as makeTime,/*比赛进行分钟数*/
            goal.FirstGoal matchPankou,/*盘口*/
            sc.HomeHalfScore homeHalfScore,/*主队半场比分*/
            sc.GuestHalfScore guestHalfScore,/*客队半场比分*/
            sc.Home_Red homeReadCard,/*主队红牌*/
            sc.Guest_Red guestReadCard,/*客队红牌*/
            sc.Home_Yellow homeYlwCard,/*主队黄牌*/
            sc.Guest_Yellow guestYlwCard,/*客队黄牌*/
            t.Name_J homeName,/*主队名称*/
            t2.Name_J guestName,/*客队名称*/
            sc.HomeScore homeScore,/*主队比分*/
            sc.GuestScore guestScore,/*客队比分*/
            sc.ScheduleID matchId,/*比赛id*/
            lottery.ISSUE_NUM num,/*期数场次*/
            lottery.NO_ID number,/*期数场次*/
            IFNULL(pg.status,'0') iscollect/*是否收藏*/
            from schedule  sc
            LEFT JOIN sclass class ON sc.SclassID = class.sclassID
            LEFT JOIN letgoal goal ON sc.ScheduleID = goal.ScheduleID and goal.CompanyID = '8'
            LEFT JOIN team t ON sc.HomeTeamID = t.TeamID
            LEFT JOIN team t2 ON sc.GuestTeamID = t2.TeamID
            LEFT JOIN jc_match_lottery lottery ON sc.ScheduleID = lottery.ID_BET007
            LEFT JOIN tb_pg_u_collect pg ON sc.ScheduleID = pg.match_id and pg.user_id = #{userId}
            WHERE pg.status = '1'
            ORDER BY sc.MatchTime
    </select>

    <select id="selectMatchIdExceedNow" resultType="java.lang.Integer">
        select ScheduleID from schedule cf where cf.MatchTime > now()
    </select>

</mapper>