<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcdata.db.mapper.StandardDetailMapper" >
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.StandardDetail" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OddsID" property="oddsid" jdbcType="INTEGER" />
    <result column="HomeWin" property="homewin" jdbcType="REAL" />
    <result column="Standoff" property="standoff" jdbcType="REAL" />
    <result column="GuestWin" property="guestwin" jdbcType="REAL" />
    <result column="ModifyTime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="isEarly" property="isearly" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OddsID, HomeWin, Standoff, GuestWin, ModifyTime, isEarly
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from standarddetail
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByMidAndCpy" resultType="com.zhcdata.db.model.StandardDetail">
    select sd.* from standard st,standarddetail sd where st.OddsID=sd.OddsID and st.ScheduleID = #{mid} and st.CompanyID = #{cpy} order by sd.ModifyTime desc limit 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from standarddetail
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhcdata.db.model.StandardDetail" >
    insert into standarddetail (ID, OddsID, HomeWin, 
      Standoff, GuestWin, ModifyTime, 
      isEarly)
    values (#{id,jdbcType=INTEGER}, #{oddsid,jdbcType=INTEGER}, #{homewin,jdbcType=REAL}, 
      #{standoff,jdbcType=REAL}, #{guestwin,jdbcType=REAL}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{isearly,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhcdata.db.model.StandardDetail" >
    insert into standarddetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="oddsid != null" >
        OddsID,
      </if>
      <if test="homewin != null" >
        HomeWin,
      </if>
      <if test="standoff != null" >
        Standoff,
      </if>
      <if test="guestwin != null" >
        GuestWin,
      </if>
      <if test="modifytime != null" >
        ModifyTime,
      </if>
      <if test="isearly != null" >
        isEarly,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oddsid != null" >
        #{oddsid,jdbcType=INTEGER},
      </if>
      <if test="homewin != null" >
        #{homewin,jdbcType=REAL},
      </if>
      <if test="standoff != null" >
        #{standoff,jdbcType=REAL},
      </if>
      <if test="guestwin != null" >
        #{guestwin,jdbcType=REAL},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="isearly != null" >
        #{isearly,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhcdata.db.model.StandardDetail" >
    update standarddetail
    <set >
      <if test="oddsid != null" >
        OddsID = #{oddsid,jdbcType=INTEGER},
      </if>
      <if test="homewin != null" >
        HomeWin = #{homewin,jdbcType=REAL},
      </if>
      <if test="standoff != null" >
        Standoff = #{standoff,jdbcType=REAL},
      </if>
      <if test="guestwin != null" >
        GuestWin = #{guestwin,jdbcType=REAL},
      </if>
      <if test="modifytime != null" >
        ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="isearly != null" >
        isEarly = #{isearly,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhcdata.db.model.StandardDetail" >
    update standarddetail
    set OddsID = #{oddsid,jdbcType=INTEGER},
      HomeWin = #{homewin,jdbcType=REAL},
      Standoff = #{standoff,jdbcType=REAL},
      GuestWin = #{guestwin,jdbcType=REAL},
      ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      isEarly = #{isearly,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>