<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcdata.db.mapper.TbJcMatchMapper" >
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.TbJcMatch" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="plan_id" property="planId" jdbcType="BIGINT" />
    <result column="match_id" property="matchId" jdbcType="BIGINT" />
    <result column="match_name" property="matchName" jdbcType="VARCHAR" />
    <result column="match_num" property="matchNum" jdbcType="VARCHAR" />
    <result column="date_of_match" property="dateOfMatch" jdbcType="VARCHAR" />
    <result column="home_team" property="homeTeam" jdbcType="VARCHAR" />
    <result column="visiting_team" property="visitingTeam" jdbcType="VARCHAR" />
    <result column="planInfo" property="planinfo" jdbcType="VARCHAR" />
    <result column="matchResult" property="matchresult" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />

  </resultMap>
  <select id="queryList" resultType="com.zhcdata.jc.dto.MatchPlanResult">
    SELECT m.id id,m.match_Id matchId,m.match_num matchNum,class.Name_JS matchName,t1.Name_J hostTeam,
    t2.Name_J visitTeam,DATE_FORMAT(m.date_Of_Match,'%H:%i') as dateOfMatch,m.planInfo planInfo,m.status isWin ,
    s.HomeScore homeScore,s.GuestScore guestScore,j.PolyGoal polyGoal,s.MatchState matchState
    from
    tb_jc_match m
    left join schedule s on m.match_id = s.ScheduleID
    left join jc_schedule j on m.match_id = j.ScheduleID
    LEFT JOIN team t1 ON s.HomeTeamID = t1.TeamID
    LEFT JOIN team t2 ON s.GuestTeamID = t2.TeamID
    LEFT JOIN sclass class ON s.SclassID = class.sclassID
    where  s.scheduleID = m.match_id and j.scheduleID = s.scheduleID  and plan_id =#{planId}
    ORDER BY match_num asc


  </select>
  <update id="updateStatus">
    update tb_jc_match set status=#{status},matchResult=#{score} where id=#{id}
  </update>
  <select id="queryList1" resultType="com.zhcdata.jc.dto.MatchPlanResult1">
    SELECT m.match_Id matchId,m.match_num matchNum,m.match_name matchName,m.home_team hostTeam,m.visiting_team visitTeam,m.date_Of_Match dateOfMatch,m.status,m.matchResult score,m.planInfo planInfo,m.status isWin,s.MatchState matchState from tb_jc_match m
    LEFT JOIN `schedule` s on m.match_Id=s.ScheduleID
    where plan_id =#{planId} ORDER BY match_num asc
  </select>


  <select id="queryScore1" resultType="com.zhcdata.jc.dto.MatchResult1">
          SELECT
          class.Name_JS matchName, /*联赛名称*/
          sc.MatchTime matchTime,
          sc.MatchTime2 MatchTime2,
          case when t.Name_J is null then sc.HomeTeam else t.Name_J end as homeName,/*主队名称*/
          case when t2.Name_J is null then sc.guestTeam else t2.Name_J end as guestName,/*客队名称*/
          IFNULL(sc.HomeScore,'0') homeScore,/*主队比分*/
          IFNULL(sc.GuestScore,'0') guestScore,/*客队比分*/
          IFNULL(sc.HomeHalfScore,'0')homeHalfScore,/*主队半场比分*/
          IFNULL(sc.GuestHalfScore,'0') guestHalfScore,/*客队半场比分*/
          t.Flag homeImg,/*主队图标地址*/
          t2.Flag visitImg,/*客队图标地址*/
      CASE
          WHEN sc.MatchState = '0' THEN '未' /*未开始*/
          when sc.MatchState in('4','5') then '(完)' /*正在进行*/
          WHEN sc.MatchState = '2' THEN '中'         /*中场*/
          WHEN sc.MatchState = '-1' THEN '完'        /*完结*/
          WHEN sc.MatchState = '-14' THEN '推迟'     /*推迟*/
          WHEN sc.MatchState = '-12' THEN '腰斩'     /*腰斩*/
          WHEN sc.MatchState = '-10' THEN '取消'     /*取消*/
          when sc.MatchState = '1' then '1'
          when sc.MatchState = '3' then '3'
          END AS matchState,/*比赛状态*/
      CASE
          WHEN sc.MatchState = '0' THEN
          'notstarted' /*未开始*/
          WHEN sc.MatchState IN ( '1', '3', '4', '5' ) THEN
          'inprogress' /*正在进行*/
          WHEN sc.MatchState = '2' THEN
          'inprogress' /*中场*/
          WHEN sc.MatchState = '-1' THEN
          'finished' /*完结*/
          WHEN sc.MatchState = '-14' THEN
          'notstarted' /*推迟*/
          WHEN sc.MatchState = '-12' THEN
          'cancelled' /*腰斩*/
          WHEN sc.MatchState = '-10' THEN
          'cancelledcancelled' /*取消*/
          END AS statusType,/*比赛大状态*/
      sc.MatchState statusescFK,/*比赛小状态*/
      CASE
          WHEN sc.MatchState IN ( '1', '2' ) THEN
          TIMESTAMPDIFF( MINUTE, sc.MatchTime2, now( 3 ) )
          WHEN sc.MatchState = '3' THEN
          TIMESTAMPDIFF( MINUTE, sc.MatchTime2, now( 3 ) ) + 45 ELSE ''
          END AS makeTime,/*比赛进行分钟数*/
          sc.HomeTeamID homeId,/*主队Id*/
          sc.GuestTeamID visitingId /*客队Id*/
      FROM
          SCHEDULE sc
          LEFT JOIN sclass class ON sc.SclassID = class.sclassID
          LEFT JOIN team t ON sc.HomeTeamID = t.TeamID
          LEFT JOIN team t2 ON sc.GuestTeamID = t2.TeamID
      WHERE
      sc.ScheduleID = #{matchId}
  </select>


    <select id="queryJcMatchByPlanId" resultType="com.zhcdata.db.model.TbJcMatch">
        select * from  tb_jc_match m where m.plan_id = #{planId} ORDER BY m.date_of_match asc limit 0,1
    </select>
    <select id="queryMatchInfoDtoByPlanId" resultType="com.zhcdata.jc.dto.MatchInfoDto">

      SELECT
      class.Name_JS matchName,
      t1.Name_J hostTeam,
      t2.Name_J visitTeam,
      m.date_of_match dateOfMatch
      from tb_jc_match m
      left join schedule s on m.match_id = s.ScheduleID
      left join team t1 on  s.HomeTeamID  = t1.TeamID
      left join team t2 on s.GuestTeamID = t2.TeamID
       LEFT JOIN sclass class ON s.SclassID = class.sclassID
      where m.plan_id = #{planId}
    </select>
  <select id="queryMatchStatus" resultType="java.util.Map">
        select  sum(ab.a) a,sum(ab.b) b from (
				select count(m.id) a,count(s.scheduleID) b from tb_jc_match m LEFT JOIN schedule s on s.scheduleID = m.match_id
        and s.MatchState in (-1,-12,-10)
        where m.plan_id = #{planId}
				union all
				select 0 a,count(s.scheduleID) b from tb_jc_match m LEFT JOIN schedule s on s.scheduleID = m.match_id
        and s.MatchState =-14 and  now()>DATE_ADD(s.matchtime, INTERVAL 36 HOUR)
        where m.plan_id = #{planId}
) ab
  </select>
</mapper>