<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhcdata.db.mapper.TbJcExpertMapper" >
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.TbJcExpert" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="lable" property="lable" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="royalty_ratio" property="royaltyRatio" jdbcType="VARCHAR" />
    <result column="ascription" property="ascription" jdbcType="VARCHAR" />
    <result column="fans" property="fans" jdbcType="BIGINT" />
    <result column="experience" property="experience" jdbcType="BIGINT" />
    <result column="popularity" property="popularity" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="card_id" property="cardId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="start_fans" property="startFans" jdbcType="BIGINT" />
    <result column="start_experience" property="startExperience" jdbcType="BIGINT" />
    <result column="is_upshelf" property="isUpshelf" jdbcType="BIGINT" />
    <result column="grade" property="grade" jdbcType="BIGINT" />
  </resultMap>
    <update id="updatePopAddOneByEid">
      update tb_jc_expert set popularity = #{pop} where id = #{uid}
    </update>
    <select id="queryHotExperts" resultType="com.zhcdata.jc.dto.ExpertInfo">
    <if test="type==1">
      SELECT e.id,e.nick_name nickName,v.lz_now lzNow,'1' pushed ,e.img,e.grade grade from tb_jc_victory v
      LEFT JOIN tb_jc_expert e on e.id=v.expert_id where v.lz_now>=4 and e.is_upshelf = '1'
    </if>
    <if test="type==2">
      SELECT
      e.id,
      e.nick_name nickName,
      v.lz_now lzNow,
      (SELECT count( * ) FROM tb_jc_plan p WHERE p.ascription_expert = e.id ) pushed,
      v.five_z fiveZ,
      v.six_z sixZ,
      v.seven_z sevenZ,
      v.eight_z eightZ,
      v.nine_z nineZ,
      v.ten_z tenZ ,
      e.img,
      e.lable lable,
      e.grade grade
      from tb_jc_victory v
      LEFT JOIN tb_jc_expert e on e.id=v.expert_id
      where v.five_z=4 or v.six_z=5 or v.seven_z=6 or v.eight_z=7 or v.nine_z=8 or v.ten_z=9 and e.is_upshelf = '1'
    </if>
    <if test="type==3">
      SELECT
      e.id,
      e.nick_name nickName,
      return_seven_days returnSevenDays,
      (SELECT count( * ) FROM tb_jc_plan p WHERE p.ascription_expert = e.id ) pushed,
      e.img,
      e.lable lable,
      v.lz_now lzNow,
      e.grade grade
      from tb_jc_victory v
      LEFT JOIN tb_jc_expert e on e.id=v.expert_id where v.return_seven_days>100 and e.is_upshelf = '1'
    </if>
    <if test="type==4">
      SELECT
      e.id,
      e.nick_name nickName,
      (SELECT count( * ) FROM tb_jc_plan p WHERE p.ascription_expert = e.id ) pushed,
      e.img,
      v.lz_now lzNow,
      e.lable lable,
      v.lz_now lzNow,
      e.grade grade
      from tb_jc_victory v
      LEFT JOIN tb_jc_expert e on e.id=v.expert_id where v.seven_z=5 or v.eight_z=6 or v.nine_z=7 or v.ten_z=8 and e.is_upshelf = '1'
    </if>
    <if test="type==5">
      SELECT
      e.id,
      e.nick_name nickName,
      v.lz_now lzNow,
      e.lable lable,
      v.lz_now lzNow,
      (SELECT count( * ) FROM tb_jc_plan p WHERE p.ascription_expert = e.id ) pushed,
      e.grade grade,
      e.img
      from tb_jc_victory v
      LEFT JOIN tb_jc_expert e on e.id=v.expert_id where v.ten_z=7 or v.ten_z=6 or v.ten_z=5 and e.is_upshelf = '1'
    </if>
    <if test="type==6">
      SELECT
      e.id,
      e.nick_name nickName,
      v.lz_now lzNow,
      (SELECT count( * ) FROM tb_jc_plan p WHERE p.ascription_expert = e.id ) pushed,
      e.lable lable,
      e.grade grade,
      e.img
      from tb_jc_victory v
      LEFT JOIN tb_jc_expert e on e.id=v.expert_id where v.lz_now>=2 and e.is_upshelf = '1'
    </if>
    <if test="type==7">
      SELECT
      e.id,
      e.nick_name nickName,
      v.lz_now lzNow,
      (SELECT count( * ) FROM tb_jc_plan p WHERE p.ascription_expert = e.id ) pushed,
      v.three_z threeZ,
      v.four_z fourZ ,
      e.lable lable,
      e.grade grade,
      e.img
      from tb_jc_victory v
      LEFT JOIN tb_jc_expert e on e.id=v.expert_id where v.three_z=2 or v.four_z=3 and e.is_upshelf = '1'
    </if>
    <if test="type==8">
      SELECT
      e.id,
      e.nick_name nickName,
      v.lz_now lzNow,
      (SELECT count( * ) FROM tb_jc_plan p WHERE p.ascription_expert = e.id ) pushed,
      v.lz_big lzBig ,
      e.lable lable,
      e.grade grade,
      e.img
      from tb_jc_victory v
      LEFT JOIN tb_jc_expert e on e.id=v.expert_id where v.lz_big>=8 and e.is_upshelf = '1'
    </if>
  </select>
  <select id="queryExpertDetails" resultType="com.zhcdata.jc.dto.ExpertInfo">
    SELECT e.id,e.nick_name nickName,e.img,e.lable,e.introduction,(e.fans + e.start_fans) fans,
    v.trend,v.lz_now lzNow,z_seven_days zSevenDays,v.return_seven_days returnSevenDays,0 status,e.grade,e.popularity,
    v.ten_z tenZ,
    v.nine_z nineZ,
    v.eight_z eightZ,
    v.seven_z sevenZ,
    v.six_z sixZ,
    v.five_z fiveZ,
    v.four_z fourZ,
    v.three_z threeZ,
    v.lz_big lzBig
    from tb_jc_expert e LEFT JOIN tb_jc_victory v on e.id=v.expert_id
    LEFT JOIN tb_jc_record_focus f on e.id=f.expert_id
    where e.id=#{expertId}
    	GROUP BY e.id
  </select>
  <select id="queryExperts" resultType="com.zhcdata.jc.dto.ExpertInfo">
    SELECT * from tb_jc_expert
  </select>
  <select id="queryExpertsByType" resultType="com.zhcdata.jc.dto.ExpertInfoBdDto">
    SELECT
    e.id,
    e.img,
    e.nick_name nickName,
    e.grade,
    e.lable,
    (e.fans + e.start_fans) fans,
    e.introduction,
    v.lz_now victory,
    v.z_Seven_Days zSevenDays,
    v.return_Seven_Days returnSevenDays,
    (SELECT count( * ) FROM tb_jc_plan p WHERE p.ascription_expert = e.id and p.status = '1') pushed,
    e.popularity popularity
    FROM
    tb_jc_expert e
    LEFT JOIN tb_jc_victory v ON e.id = v.expert_id
    where e.is_upshelf = '1'
    <if test="type==2">
      ORDER BY victory desc
    </if>

    <if test="type==1">
      ORDER BY zSevenDays desc
    </if>

    <if test="type==3">
      ORDER BY returnSevenDays desc
    </if>

  </select>
  <select id="query" resultType="com.zhcdata.jc.dto.ExpertInfo">
    SELECT DISTINCT * FROM(
    SELECT e.id,e.nick_name,e.lable,(e.fans + e.start_fans) fans,v.trend,e.img,
    (SELECT count(*) from tb_jc_plan where ascription_expert=f.expert_Id) pushed
    from tb_jc_record_focus f LEFT JOIN tb_jc_expert e on f.expert_Id=e.id
    LEFT JOIN tb_jc_victory v on f.expert_Id=v.expert_id
    where f.user_Id=#{userId}
    ) a
  </select>
  <select id="queryExpertDetailsById" resultType="com.zhcdata.db.model.TbJcExpert">
    select * from tb_jc_expert e where e.id = #{id}
  </select>


  <select id="queryExpertDetailsAndUser" resultType="com.zhcdata.jc.dto.ExpertInfo">
    SELECT
    e.id,
    e.nick_name nickName,
    e.img,
    e.lable,
    e.introduction,
    (e.fans + e.start_fans) fans,
    v.trend,
    v.lz_now lzNow,
    z_seven_days zSevenDays,
    v.return_seven_days returnSevenDays,
    IFNULL(f.status,'0') status,
    e.grade,
    e.popularity,
    v.lz_big lzBig
    from tb_jc_expert e LEFT JOIN tb_jc_victory v on e.id=v.expert_id
    LEFT JOIN tb_jc_record_focus f on e.id=f.expert_id and f.user_id = #{userId}
    where e.id=#{expertId}
    GROUP BY e.id
  </select>

  <select id="queryExpertInfo" resultType="com.zhcdata.jc.dto.ExpertInfoDto">
    SELECT DISTINCT * FROM(
    SELECT
    e.id expertId,
    e.nick_name expertName,
    e.lable expertType,
   (e.fans + e.start_fans) expertFans,
    e.img expertIcon,
    e.grade expertLevel,
    v.lz_now expertHitNum,
    (SELECT count(*) from tb_jc_plan where ascription_expert=f.expert_Id) expertReleaseCount
    from tb_jc_record_focus f LEFT JOIN tb_jc_expert e on f.expert_Id=e.id
    LEFT JOIN tb_jc_victory v on f.expert_Id=v.expert_id
    where f.user_Id=#{userId} and status = '1'
    ) a
  </select>

</mapper>