<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcdata.db.mapper.TbScoreMapper">
  <resultMap id="BaseResultMap" type="com.zhcdata.db.model.ScoreInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="TeamID" property="teamid" jdbcType="INTEGER" />
    <result column="SclassID" property="sclassid" jdbcType="INTEGER" />
    <result column="Win_Score" property="winScore" jdbcType="INTEGER" />
    <result column="Flat_Score" property="flatScore" jdbcType="INTEGER" />
    <result column="Fail_Score" property="failScore" jdbcType="INTEGER" />
    <result column="Total_Homescore" property="totalHomescore" jdbcType="INTEGER" />
    <result column="Total_Guestscore" property="totalGuestscore" jdbcType="INTEGER" />
    <result column="homeorguest" property="homeorguest" jdbcType="INTEGER" />
    <result column="Matchseason" property="matchseason" jdbcType="CHAR" />
    <result column="deduct" property="deduct" jdbcType="INTEGER" />
    <result column="cause" property="cause" jdbcType="CHAR" />
    <result column="Goal" property="goal" jdbcType="INTEGER" />
    <result column="subSclassID" property="subsclassid" jdbcType="INTEGER" />
    <result column="RedCard" property="redcard" jdbcType="INTEGER" />
  </resultMap>
  <select id="queryScore" resultType="com.zhcdata.db.model.ScoreInfo">
    select * from Score where 1=1
    and SclassID=#{sclassid}
    <if test="subsclassid!=null">
      and subSclassID=#{subsclassid}
    </if>
    <if test="homeorguest!=null">
      and Homeorguest=#{homeorguest}
    </if>
    and TeamID=#{teamid}
    and MatchSeason=#{matchseason}
  </select>
  <select id="queryIntegralRanking" resultType="com.zhcdata.jc.dto.IntegralRankingDto">
    select ifnull(rank,0) rank,
    ifnull(matchCount,0)  matchCount,
    ifnull(winCount,0) winCount,
    ifnull(flatCount,0) flatCount,
    ifnull(loseCount,0) loseCount,
    ifnull(goal,0) goal,
    ifnull(lost,0) lost,
    ifnull(goalDiff,0) goalDiff,
    ifnull(score,0) score from (
    SELECT
        @sortnum :=@sortnum + 1 rank,
        winCount+flatCount+loseCount matchCount,
        winCount,
        flatCount,
        loseCount,
        goal,
        lost,
        goalDiff,
        score,
        teamid
    FROM
        (
            SELECT
                teamid,
                sum(win_score * 3 + flat_score) as 'score',
                SUM(win_score) winCount,
                sum(flat_score) flatCount,
                sum(fail_score) loseCount,
                sum(total_homescore) goal,
                sum(total_guestscore) lost,
                sum(total_homescore-total_guestscore) goalDiff
            FROM
                score
            WHERE
                sclassid = #{sclassId}
            AND Matchseason = #{season}
            <if test="subSclassID == null">
            AND subsclassId is null
            </if>
            <if test="subSclassID != null">
            AND subsclassId = #{subSclassID}
            </if>
            <if test="homeorguest == 0 or homeorguest == 1">
            AND homeorguest = #{homeorguest}
            </if>
            GROUP BY
                teamid
            ORDER BY
                score desc,
                goalDiff desc,
                goal desc,
                teamid ASC
        ) s,(select @sortnum := 0) a
    ) temp
    where teamid = #{teamid}
  </select>

  <insert id="insertSelective" parameterType="com.zhcdata.db.model.ScoreInfo" >
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="teamid != null">
        TeamID,
      </if>
      <if test="sclassid != null">
        SclassID,
      </if>
      <if test="winScore != null">
        Win_Score,
      </if>
      <if test="flatScore != null">
        Flat_Score,
      </if>
      <if test="failScore != null">
        Fail_Score,
      </if>
      <if test="totalHomescore != null">
        Total_Homescore,
      </if>
      <if test="totalGuestscore != null">
        Total_Guestscore,
      </if>
      <if test="homeorguest != null">
        homeorguest,
      </if>
      <if test="matchseason != null">
        Matchseason,
      </if>
      <if test="deduct != null">
        deduct,
      </if>
      <if test="cause != null">
        cause,
      </if>
      <if test="goal != null">
        Goal,
      </if>
      <if test="subsclassid != null">
        subSclassID,
      </if>
      <if test="redcard != null">
        RedCard,
      </if>
      <if test="orderby != null">
        orderBy,
      </if>
      <if test="score != null">
        Score,
      </if>
      <if test="totalOrder != null">
        totalOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teamid != null">
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="sclassid != null">
        #{sclassid,jdbcType=INTEGER},
      </if>
      <if test="winScore != null">
        #{winScore,jdbcType=INTEGER},
      </if>
      <if test="flatScore != null">
        #{flatScore,jdbcType=INTEGER},
      </if>
      <if test="failScore != null">
        #{failScore,jdbcType=INTEGER},
      </if>
      <if test="totalHomescore != null">
        #{totalHomescore,jdbcType=INTEGER},
      </if>
      <if test="totalGuestscore != null">
        #{totalGuestscore,jdbcType=INTEGER},
      </if>
      <if test="homeorguest != null">
        #{homeorguest,jdbcType=INTEGER},
      </if>
      <if test="matchseason != null">
        #{matchseason,jdbcType=CHAR},
      </if>
      <if test="deduct != null">
        #{deduct,jdbcType=INTEGER},
      </if>
      <if test="cause != null">
        #{cause,jdbcType=CHAR},
      </if>
      <if test="goal != null">
        #{goal,jdbcType=INTEGER},
      </if>
      <if test="subsclassid != null">
        #{subsclassid,jdbcType=INTEGER},
      </if>
      <if test="redcard != null">
        #{redcard,jdbcType=INTEGER},
      </if>
      <if test="orderby != null">
        #{orderby,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="totalOrder != null">
        #{totalOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhcdata.db.model.ScoreInfo" >
    update score
    <set>
      <if test="teamid != null">
        TeamID = #{teamid,jdbcType=INTEGER},
      </if>
      <if test="sclassid != null">
        SclassID = #{sclassid,jdbcType=INTEGER},
      </if>
      <if test="winScore != null">
        Win_Score = #{winScore,jdbcType=INTEGER},
      </if>
      <if test="flatScore != null">
        Flat_Score = #{flatScore,jdbcType=INTEGER},
      </if>
      <if test="failScore != null">
        Fail_Score = #{failScore,jdbcType=INTEGER},
      </if>
      <if test="totalHomescore != null">
        Total_Homescore = #{totalHomescore,jdbcType=INTEGER},
      </if>
      <if test="totalGuestscore != null">
        Total_Guestscore = #{totalGuestscore,jdbcType=INTEGER},
      </if>
      <if test="homeorguest != null">
        homeorguest = #{homeorguest,jdbcType=INTEGER},
      </if>
      <if test="matchseason != null">
        Matchseason = #{matchseason,jdbcType=CHAR},
      </if>
      <if test="deduct != null">
        deduct = #{deduct,jdbcType=INTEGER},
      </if>
      <if test="cause != null">
        cause = #{cause,jdbcType=CHAR},
      </if>
      <if test="goal != null">
        Goal = #{goal,jdbcType=INTEGER},
      </if>
      <if test="subsclassid != null">
        subSclassID = #{subsclassid,jdbcType=INTEGER},
      </if>
      <if test="redcard != null">
        RedCard = #{redcard,jdbcType=INTEGER},
      </if>
      <if test="orderby != null">
        orderBy = #{orderby,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        Score = #{score,jdbcType=INTEGER},
      </if>
      <if test="totalOrder != null">
        totalOrder = #{totalOrder,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>