<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhcdata.db.mapper.TbSclassInfoMapper">
  <select id="querySclassInfo" resultType="com.zhcdata.db.model.TbSclassInfo">
    select * from SclassInfo where NameCN='${NameCN}'
  </select>

  <insert id="insertSelective" parameterType="com.zhcdata.db.model.TbSclassInfo">
    insert into sclassinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoid != null" >
        InfoID,
      </if>
      <if test="namecn != null" >
        NameCN,
      </if>
      <if test="nameen != null" >
        NameEN,
      </if>
      <if test="namefn != null" >
        NameFN,
      </if>
      <if test="flagpic != null" >
        FlagPic,
      </if>
      <if test="infoorder != null" >
        InfoOrder,
      </if>
      <if test="infoType != null" >
        Info_type,
      </if>
      <if test="modifytime != null" >
        ModifyTime,
      </if>
      <if test="allorder != null" >
        allOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoid != null" >
        #{infoid,jdbcType=INTEGER},
      </if>
      <if test="namecn != null" >
        #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="nameen != null" >
        #{nameen,jdbcType=VARCHAR},
      </if>
      <if test="namefn != null" >
        #{namefn,jdbcType=VARCHAR},
      </if>
      <if test="flagpic != null" >
        #{flagpic,jdbcType=VARCHAR},
      </if>
      <if test="infoorder != null" >
        #{infoorder,jdbcType=SMALLINT},
      </if>
      <if test="infoType != null" >
        #{infoType,jdbcType=INTEGER},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="allorder != null" >
        #{allorder,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhcdata.db.model.TbSclassInfo">
    update sclassinfo
    <set >
      <if test="namecn != null" >
        NameCN = #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="nameen != null" >
        NameEN = #{nameen,jdbcType=VARCHAR},
      </if>
      <if test="namefn != null" >
        NameFN = #{namefn,jdbcType=VARCHAR},
      </if>
      <if test="flagpic != null" >
        FlagPic = #{flagpic,jdbcType=VARCHAR},
      </if>
      <if test="infoorder != null" >
        InfoOrder = #{infoorder,jdbcType=SMALLINT},
      </if>
      <if test="infoType != null" >
        Info_type = #{infoType,jdbcType=INTEGER},
      </if>
      <if test="modifytime != null" >
        ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="allorder != null" >
        allOrder = #{allorder,jdbcType=SMALLINT},
      </if>
    </set>
    where InfoID = #{infoid,jdbcType=INTEGER}
  </update>
</mapper>